@media (min-width: 2000px) and (max-width: 2660px) {
  .container {
    width: 50%;
  }
}
@media (min-width: 1800px) and (max-width: 2000px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 1100px) {
  .container {
    width: 96%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 92%;
  }
}
@media (max-width: 550px) {
  .name_of_web {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
@media (max-width: 550px) {
  .product .go_to_product {
    justify-content: center;
    align-items: center;
  }
  .product p,
  .product span {
    text-align: center;
  }
  .product .name_of_product {
    font-size: 14px;
  }
  .product .brand_of_product {
    font-size: 10px;
  }
  .product .description {
    font-size: 10px;
  }
  .product .price_of_product {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .fashion_news p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .purchase .price_block {
    display: none;
  }
  .purchase .quantity_block {
    margin-top: 20px;
    position: static;
  }
  .purchase .summ_block {
    margin-top: 20px;
    position: static;
  }
  .purchase .delete {
    top: 10px;
  }
  .purchase .main_desc {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .purchase .main_desc img {
    width: 80px;
    margin-right: 10px;
  }
  .purchase .delete {
    top: 0;
    left: 95%;
  }
  .purchase .delete img {
    width: 10px;
  }
}
@media (max-width: 850px) {
  .question form {
    width: 60%;
  }
  .question .connection {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .question {
    background-image: url(../img/content/question-background-mob.png);
  }
  .question form {
    flex-direction: column;
    width: 85%;
  }
  .question form input,
  .question form button {
    width: 100%;
    margin-top: 20px;
  }
  .question .connection {
    width: 85%;
  }
}
@media (max-width: 1200px) {
  .registration_page .form {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .registration_page .form {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .registration_page .form {
    width: 85%;
  }
  .registration_page span {
    font-size: 30px;
  }
  .registration_page .action_button {
    width: 100%;
  }
  .registration_page .create_acc {
    flex-direction: column;
  }
  .registration_page .create_acc p {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 30%);
    grid-row-gap: 30px;
  }
}
@media (max-width: 550px) {
  .products {
    grid-template-columns: repeat(2, 48%);
    grid-row-gap: 30px;
  }
}
@media (max-width: 560px) {
  .mobile_menu {
    display: flex;
  }
}
@media (max-width: 900px) {
  .header .left {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .header .left {
    width: 70%;
  }
  .header .left .down {
    display: none;
  }
  .header .left .logo {
    order: 2;
    width: 60%;
  }
  .header .left .search_mobile {
    display: block;
    order: 1;
    width: 30%;
    background-color: inherit;
  }
  .header .left .search {
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px;
    background-color: #fff;
  }
  .header .left .search .search_btn {
    display: none;
  }
  .header .left .search input {
    width: 70%;
  }
  .header .left .search .default_button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .left .fa {
    font-size: 18px;
    top: 0;
  }
}
@media (max-width: 1300px) {
  .header .choice {
    width: 30%;
  }
}
@media (max-width: 560px) {
  .header .choice {
    display: none;
  }
}
@media (max-width: 900px) {
  .header .right {
    width: 100%;
    margin-top: 30px;
    align-items: flex-end;
  }
  .header .right .down {
    width: 20%;
  }
  .header .right .personal_area {
    width: 100%;
  }
  .header .right .up {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .header .right {
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .header .right {
    width: 20%;
    margin: 0;
  }
  .header .right .up {
    display: none;
  }
  .header .right .down {
    width: 100%;
  }
  .header .right .personal_area {
    margin: 0;
  }
  .header .right .user {
    display: none;
  }
}
@media (max-width: 500px) {
  .footer {
    width: 85%;
  }
}
@media (max-width: 1200px) {
  .footer .inf {
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 950px) {
  .footer .inf {
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 30px;
  }
}
@media (max-width: 560px) {
  .footer .inf {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}
@media (max-width: 400px) {
  .agreement p,
  .agreement a {
    font-size: 9px;
  }
}
@media (max-width: 1250px) {
  .main_slider .slide .img_slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_slider .slide .img_slide img {
    object-fit: fill;
    width: 100%;
  }
  .main_slider .slide .slide_info .info_wrap {
    width: 35%;
  }
  .main_slider .slide .slide_info .info_wrap .slide_number {
    left: -10%;
  }
  .main_slider .slick-dots {
    right: 10%;
  }
}
@media (max-width: 1150px) {
  .main_slider .slide .img_slide img {
    width: auto;
  }
}
@media (max-width: 768px) {
  .main_slider {
    background-color: #EBEEF0;
  }
  .main_slider .slide .img_slide {
    display: none;
  }
  .main_slider .slide .slide_info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    position: static;
    padding: 80px 0 100px 0;
  }
  .main_slider .slide .slide_info .info_wrap {
    width: 45%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_slider .slide .slide_info .info_wrap .slide_number {
    top: -15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main_slider .slide .slide_info .name {
    text-align: center;
    font-size: 30px;
  }
  .main_slider .slide .slide_info .video {
    flex-direction: column;
    width: 65%;
  }
  .main_slider .slide .slide_info .video .video_img {
    width: 100%;
  }
  .main_slider .slide .slide_info .video a {
    left: inherit;
  }
  .main_slider .slide .slide_info .video .video_text {
    width: 100%;
  }
  .main_slider .slide .slide_info .video p {
    padding: 10px 5px;
    text-align: center;
    width: 100%;
  }
  .main_slider .slide .slide_info .actions {
    flex-direction: column;
  }
  .main_slider .slide .slide_info .actions button {
    width: 100%;
    margin-top: 15px;
  }
  .main_slider .fa-angle-right,
  .main_slider .fa-angle-left {
    position: absolute;
    bottom: 30px;
    font-size: 35px;
    z-index: 10;
  }
  .main_slider .fa-angle-right {
    right: 35%;
  }
  .main_slider .fa-angle-left {
    left: 35%;
  }
}
@media (max-width: 600px) {
  .main_slider .slide .slide_info .info_wrap {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .main_slider .slide .slide_info .info_wrap {
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .second .shop_info {
    margin-top: 20px;
  }
  .second .arrow_1,
  .second .arrow_2 {
    width: 100px;
  }
}
@media (max-width: 800px) {
  .second .video {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second .logo {
    top: 5%;
  }
  .second a {
    z-index: 4;
  }
}
@media (max-width: 650px) {
  .second {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .second .shop_info {
    width: 90%;
    order: 2;
  }
  .second .shop_info p {
    display: none;
  }
  .second .video {
    width: 100%;
    order: 1;
    flex-direction: column;
  }
  .second .video .shop_info_mob {
    text-align: center;
    display: block;
    margin-bottom: 40px;
  }
  .second .video .logo {
    left: inherit;
    top: 12%;
  }
  .second .video a {
    top: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .second .video .arrow_1 {
    top: -25%;
    left: 0%;
    width: 70px;
  }
  .second .video .arrow_2 {
    top: -24%;
    left: inherit;
    width: 70px;
    right: 0;
    transform: rotate(176deg);
  }
}
@media (max-width: 650px) {
  .fourth .container .trends {
    grid-template-columns: repeat(2, 48%);
    grid-row-gap: 30px;
  }
}
@media (max-width: 450px) {
  .fourth {
    background-image: url(../img/content/news-background.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
  }
  .fourth .container .trends {
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    grid-row-gap: 30px;
  }
}
@media (max-width: 950px) {
  .six a p {
    font-size: 18px;
  }
}
@media (max-width: 750px) {
  .six {
    width: 60%;
    display: grid;
    grid-template-areas: "up up up" "down down down" "big_banner big_banner big_banner";
    grid-template-columns: repeat(3, 32%, 30%, 30%);
    grid-template-rows: repeat(3, 1fr);
  }
  .six .big_banner .block_down {
    top: 73%;
    right: 37%;
  }
  .six .big_banner .text_down {
    top: 71%;
    right: 40%;
  }
}
@media (max-width: 600px) {
  .six {
    width: 94%;
    display: grid;
    grid-template-areas: "up up up" "down down down" "big_banner big_banner big_banner";
    grid-template-columns: repeat(3, 32%, 30%, 30%);
    grid-template-rows: repeat(3, 1fr);
  }
  .six .big_banner .block_down {
    top: 75%;
    right: 37%;
  }
  .six .big_banner .text_down {
    top: 73%;
    right: 40%;
  }
  .six img {
    max-height: 200px;
  }
}
@media (max-width: 768px) {
  .catalog_page .name_and_filter .name {
    width: 60%;
  }
  .catalog_page .name_and_filter .dropdown {
    width: 35%;
  }
  .catalog_page .catalog_and_filters {
    grid-template-columns: 30% 65%;
  }
  .catalog_page .catalog_and_filters .catalog {
    grid-template-columns: repeat(2, 46%);
  }
  .catalog_page .recomendations_and_viewed .actions {
    flex-direction: column;
    width: 65%;
  }
  .catalog_page .recomendations_and_viewed .actions button {
    margin-top: 20px;
  }
}
@media (max-width: 550px) {
  .catalog_page .name_and_filter .dropdown {
    display: none;
  }
  .catalog_page .catalog_and_filters {
    grid-template-columns: 100%;
    grid-row-gap: 50px;
  }
  .catalog_page .catalog_and_filters .filters .filter_actions {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .catalog_page .catalog_and_filters .filter_button {
    max-width: 45%;
    min-width: 45%;
    display: block;
  }
  .catalog_page .catalog_and_filters .filter_button p {
    text-transform: capitalize;
    font-size: 12px;
  }
  .catalog_page .catalog_and_filters .dropdown_mob {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 50%;
  }
  .catalog_page .catalog_and_filters .dropdown_mob .custom-select {
    width: 100%;
  }
  .catalog_page .catalog_and_filters .dropdown_mob .custom-select__trigger {
    height: 44px;
  }
  .catalog_page .catalog_and_filters .all_filters {
    border: 1px solid #878787;
    width: 100%;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px;
    padding-bottom: 40px;
    background-color: #fff;
    z-index: 6;
  }
  .catalog_page .catalog_and_filters .catalog {
    grid-template-columns: repeat(2, 48%);
    margin-bottom: 30px;
  }
  .catalog_page .show_more {
    display: flex;
    width: 100%;
    align-self: flex-end;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .catalog_page .show_more .action_button {
    min-width: 75%;
  }
  .catalog_page .recomendations_and_viewed .actions {
    flex-direction: column;
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .shopping_basket_page .total {
    width: 70%;
    align-self: center;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .shopping_basket_page .all_information {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shopping_basket_page .order_description {
    display: none;
  }
  .shopping_basket_page .name_of_web {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .shopping_basket_page .mob_line_none {
    display: none;
  }
  .shopping_basket_page .total {
    width: 100%;
    align-self: center;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .shopping_basket_page .actions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .shopping_basket_page .actions button {
    margin-top: 20px;
  }
  .shopping_basket_page .actions .favorites {
    width: 80%;
  }
  .shopping_basket_page .actions .order {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .shopping_basket_rec {
    display: none;
  }
}
@media (max-width: 1000px) {
  .checkout_page .order_registration {
    flex-direction: column;
    align-items: center;
  }
  .checkout_page .left_reg,
  .checkout_page .right_reg {
    width: 70%;
  }
  .checkout_page .right_reg {
    margin-top: 50px;
  }
  .checkout_page .name_of_web {
    width: 100%;
    text-align: center;
  }
  .checkout_page .right_reg .order_description .quantity {
    display: none;
  }
  .checkout_page .summ_block {
    display: none;
  }
  .checkout_page .right_reg .orders .purchase .quantity_final {
    display: none;
  }
  .checkout_page .right_reg .orders .purchase .main_desc {
    width: 75%;
  }
  .checkout_page .right_reg .orders .purchase .quantity_and_summ {
    display: flex;
    position: absolute;
    left: 89%;
  }
  .checkout_page .right_reg .orders .purchase .quantity_and_summ p,
  .checkout_page .right_reg .orders .purchase .quantity_and_summ span {
    font-size: 12px;
    font-weight: bold;
  }
}
@media (max-width: 550px) {
  .checkout_page .left_reg,
  .checkout_page .right_reg {
    width: 100%;
  }
  .checkout_page .left_reg .steps {
    width: 97%;
  }
  .checkout_page .step p {
    font-size: 10px;
    font-weight: bold;
  }
  .checkout_page .left_reg .form_block {
    align-items: center;
    justify-content: center;
  }
  .checkout_page .left_reg .form_block .half {
    width: 90%;
  }
  .checkout_page .left_reg .form_block input {
    width: 90%;
  }
  .checkout_page .right_reg {
    border: none;
    padding: 0;
  }
  .checkout_page .right_reg .orders .purchase .main_desc {
    width: 84%;
  }
  .checkout_page .right_reg .orders .purchase .main_desc img {
    width: 65px;
  }
  .checkout_page .right_reg .orders .purchase .quantity_and_summ {
    left: 86%;
    top: 20px;
  }
  .checkout_page .total {
    margin-bottom: 20px;
  }
  .checkout_page .total .actions {
    justify-content: center;
  }
  .checkout_page .offer {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .payment .cards {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .payment .cards .card {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .confirmation .right_reg {
    order: 1;
    margin-top: 0;
  }
  .confirmation .right_reg .number_of_order {
    margin: 20px 0;
    text-align: center;
  }
  .confirmation .right_reg .actions {
    display: none;
  }
  .confirmation .right_reg .offer {
    display: none;
  }
  .confirmation .left_reg {
    order: 2;
  }
  .confirmation .left_reg .steps {
    display: none;
  }
  .confirmation .left_reg .number_of_order {
    display: none;
  }
  .confirmation .left_reg .name_desk {
    display: none;
  }
  .confirmation .act_mob {
    display: flex;
    order: 3;
  }
  .confirmation .offer_mob {
    display: block;
    margin-top: 20px;
    order: 4;
  }
  .confirmation .name_mob {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .confirmation .steps_mob {
    display: flex;
  }
}
@media (max-width: 1400px) {
  .goods_page .information .to_basket {
    width: 70%;
  }
}
@media (max-width: 950px) {
  .goods_page .main_info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .goods_page .main_info .mob_inf {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  .goods_page .sliders {
    flex-direction: column;
  }
  .goods_page .sliders .goods_slider {
    order: 1;
    width: 100%;
  }
  .goods_page .sliders .goods_slider .fa-angle-right {
    right: -8%;
  }
  .goods_page .sliders .goods_slider .fa-angle-left {
    left: -8%;
  }
  .goods_page .sliders .mini_slider {
    width: 100%;
    order: 2;
    margin-top: 20px;
  }
  .goods_page .sliders .mini_slider .goods_img {
    margin-right: 0;
  }
  .goods_page .sliders .mini_slider .goods_img img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .goods_page .inf_desk {
    width: 50%;
    margin-top: 30px;
  }
  .goods_page .inf_desk .name_of_product {
    display: none;
  }
  .goods_page .inf_desk .brand_of_product {
    display: none;
  }
}
@media (max-width: 768px) {
  .goods_page .sliders {
    width: 80%;
  }
  .goods_page .information {
    width: 70%;
  }
  .goods_page .information .price_and_fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .goods_page .information .price_and_fav span {
    margin-bottom: 0;
  }
  .goods_page .information .price_and_fav a {
    display: block;
  }
  .goods_page .information .to_basket a {
    display: none;
  }
}
@media (max-width: 550px) {
  .goods_page .sliders .goods_slider .goods_img img {
    max-height: 220px;
  }
  .goods_page .sliders .mini_slider .goods_img img {
    width: 70px;
    height: 70px;
  }
  .goods_page .information {
    width: 80%;
  }
  .goods_page .information .price_and_fav {
    width: 100%;
  }
  .goods_page .information .dropdown {
    width: 100%;
  }
  .goods_page .information .to_basket {
    width: 100%;
  }
  .goods_page .information .to_basket button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .goods_presentation .video_player {
    width: 70%;
  }
  .goods_presentation .video_player .open_video {
    width: 50px;
    height: 50px;
  }
  .goods_presentation .video_player .open_video .fa {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .goods_presentation {
    background-size: 185%;
    background-position: 45% 0%;
    background-repeat: repeat;
  }
  .goods_presentation .video_pres .title p {
    font-size: 20px;
  }
  .goods_presentation .video_player {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .goods_description .descr_img {
    display: none;
  }
  .goods_description .descr_text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .profile_page {
    flex-direction: column;
  }
  .profile_page .sidebar_nav {
    width: 100%;
  }
  .profile_page .profile_content {
    width: 70%;
  }
}
.profile_page .profile_orders {
  width: 100%;
}
@media (max-width: 600px) {
  .profile_page .profile_content {
    width: 100%;
  }
  .profile_page .input_block {
    width: 70%;
  }
  .profile_page .additional_inf_block {
    grid-template-columns: 1fr;
    margin-bottom: 35px;
  }
  .profile_page .additional_inf_block span {
    margin-bottom: 10px;
  }
  .profile_page .profile_orders span,
  .profile_page .profile_orders p {
    font-size: 10px;
  }
  .profile_page .subscriptions {
    flex-direction: column;
  }
  .profile_page .sub {
    width: 75%;
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .modal {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .modal {
    padding: 10px 5px;
    width: 90%;
  }
  .modal .content .close-modal {
    font-size: 18px;
  }
  .modal .all_information {
    justify-content: space-between;
  }
  .modal .purchase .summ_block {
    align-items: center;
    font-size: 10px;
    margin-top: 0;
  }
  .modal .purchase .summ_block span {
    font-size: 10px;
  }
  .modal .purchase .main_desc {
    width: 65%;
  }
  .modal .purchase .main_desc img {
    width: 50px;
    margin-right: 10px;
  }
  .modal .name_of_product {
    font-size: 12px;
  }
  .modal .brand_of_product {
    font-size: 10px;
  }
  .modal .quantity_and_summ {
    font-size: 10px;
  }
  .modal .price_of_product {
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  .news_page .news_grid {
    grid-template-columns: repeat(2, 48%);
  }
}
@media (max-width: 768px) {
  .news_page .title {
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 550px) {
  .news_page .news_grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .article_page .img_and_title .main_title {
    display: none;
  }
  .article_page .title_mob {
    margin-top: 20px;
    padding: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    position: static;
  }
}
@media (max-width: 550px) {
  .article_page .article {
    width: 100%;
  }
  .article_page .title_mob .news_title {
    font-size: 16px;
  }
  .article_page .title_mob .news_brand {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  .brands_page .brands_grid {
    grid-template-columns: repeat(3, 32%);
    grid-row-gap: 3%;
  }
}
@media (max-width: 650px) {
  .brands_page .name_of_web {
    text-align: center;
    margin-top: 10px;
  }
  .brands_page .brands_grid {
    grid-template-columns: repeat(2, 48%);
    grid-row-gap: 3%;
  }
  .brands_page .brands_search {
    display: none;
  }
  .brands_page .dropdown {
    margin-top: 20px;
    display: block;
    width: 70px;
    margin-bottom: 20px;
  }
  .brands_page .custom-select__trigger {
    background-color: #F2F3F5;
  }
}
@media (max-width: 450px) {
  .brands_page .brands_grid {
    grid-template-columns: 84%;
    justify-content: center;
    grid-row-gap: 2%;
  }
  .brands_page .dropdown {
    margin-left: 8%;
  }
}
@media (max-width: 850px) {
  .feedback_page .feedback_wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feedback_page .feedback_wrap .right,
  .feedback_page .feedback_wrap .left {
    width: 80%;
  }
  .feedback_page .feedback_wrap .left {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .feedback_page .feedback_wrap .left .name_of_web {
    margin-bottom: 20px;
  }
  .feedback_page .feedback_wrap .left .name_of_web p {
    font-size: 24px;
  }
  .feedback_page .feedback_wrap .left p,
  .feedback_page .feedback_wrap .left span {
    text-align: center;
  }
  .feedback_page .feedback_wrap .left .contact {
    align-items: baseline;
    display: flex;
    justify-content: center;
  }
  .feedback_page .feedback_wrap .left .contact img {
    margin-right: 5px;
  }
  .feedback_page .feedback_wrap .right .default_button {
    width: 35%;
  }
}
@media (max-width: 550px) {
  .feedback_page .feedback_wrap .right {
    width: 95%;
    padding: 15px;
  }
  .feedback_page .feedback_wrap .right p {
    text-align: center;
  }
  .feedback_page .feedback_wrap .right .form_block {
    flex-direction: column;
  }
  .feedback_page .feedback_wrap .right .form_block .default_input {
    width: 100%;
    margin-top: 15px;
  }
  .feedback_page .feedback_wrap .right .default_button {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .dashboard_main {
    grid-template-columns: 1fr;
  }
  .dashboard_main .dashboard_sidebar {
    order: 1;
  }
  .dashboard_main .general_summary {
    width: 40%;
    order: 2;
  }
  .dashboard_main .main_information {
    order: 3;
  }
}
@media (max-width: 550px) {
  .dashboard_main .general_summary {
    width: 70%;
  }
  .dashboard_main .data_block p {
    font-size: 12px;
  }
  .dashboard_main .main_information .purchase .main_desc {
    width: 70%;
  }
  .dashboard_main .main_information .purchase .name_of_product {
    font-size: 12px;
  }
  .dashboard_main .main_information .purchase .views {
    width: 30%;
  }
  .dashboard_main .main_information .purchase .views p {
    font-size: 10px;
  }
}
@media (max-width: 1000px) {
  .dashboard_add_goods .upload_block .default_button {
    min-width: 130px;
  }
}
@media (max-width: 768px) {
  .dashboard_add_goods {
    grid-template-columns: 1fr;
  }
  .dashboard_add_goods .col_2 .name_of_web {
    display: none;
  }
}
@media (max-width: 400px) {
  .dashboard_add_goods .half {
    width: 100%;
    margin-bottom: 10px;
  }
  .dashboard_add_goods .for_absol_pos {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .add_button {
    margin: 20px auto;
    margin-bottom: 80px;
  }
}
@media (max-width: 1000px) {
  .dashboard_goods {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 850px) {
  .dashboard_goods .dashboard_goods_block .order_description {
    display: none;
  }
  .dashboard_goods .dashboard_goods_block .filters {
    flex-wrap: wrap;
  }
  .dashboard_goods .dashboard_goods_block .filters .search {
    width: 100%;
    margin-bottom: 20px;
  }
  .dashboard_goods .dashboard_goods_block .filters .dropdown {
    width: 48%;
    margin-bottom: 20px;
  }
  .dashboard_goods .dashboard_goods_block .purchase .all_information {
    flex-wrap: wrap;
  }
  .dashboard_goods .dashboard_goods_block .purchase .main_desc {
    width: 80%;
  }
  .dashboard_goods .dashboard_goods_block .purchase .category,
  .dashboard_goods .dashboard_goods_block .purchase .stocks,
  .dashboard_goods .dashboard_goods_block .purchase .price_block {
    position: static;
    width: 100%;
    margin-left: 6%;
    margin-top: 10px;
  }
  .dashboard_goods .dashboard_goods_block .purchase .category p,
  .dashboard_goods .dashboard_goods_block .purchase .stocks p,
  .dashboard_goods .dashboard_goods_block .purchase .price_block p {
    font-weight: bold;
  }
  .dashboard_goods .dashboard_goods_block .purchase .price_block {
    display: block !important;
  }
}
@media (max-width: 450px) {
  .dashboard_goods .default_button {
    min-width: 140px;
    width: 140px;
  }
  .dashboard_goods .purchase .category,
  .dashboard_goods .purchase .stocks,
  .dashboard_goods .purchase .price_block {
    margin: 0 auto;
    margin-top: 10px;
  }
  .dashboard_goods .purchase .category p,
  .dashboard_goods .purchase .stocks p,
  .dashboard_goods .purchase .price_block p {
    font-weight: bold;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .dashboard_orders {
    grid-template-columns: 1fr;
  }
  .dashboard_orders .dashboard_orders_block .filters {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .dashboard_orders .dashboard_orders_block .filters_and_action {
    flex-direction: column;
    align-items: flex-start;
  }
  .dashboard_orders .dashboard_orders_block .filters_and_action .filters {
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }
  .dashboard_orders .dashboard_orders_block .filters_and_action .filter_status {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .dashboard_orders .dashboard_orders_block .filters_and_action .default_button {
    min-width: 150px;
    width: 150px;
  }
  .dashboard_orders .dashboard_orders_block .actions_to_orders {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .dashboard_orders .dashboard_orders_block .actions_to_orders .dropdown {
    width: 70%;
    margin-bottom: 20px;
  }
  .dashboard_orders .dashboard_orders_block .actions_to_orders .default_button {
    min-width: 150px;
    width: 150px;
  }
}
@media (max-width: 550px) {
  .dashboard_orders .dashboard_orders_block .order_description p {
    font-size: 8px;
  }
  .dashboard_orders .dashboard_orders_block .order_description .amount {
    left: 92%;
  }
  .dashboard_orders .dashboard_orders_block .prof_order .filter_status {
    padding: 5px;
  }
  .dashboard_orders .dashboard_orders_block .prof_order .filter_status p {
    font-size: 8px;
  }
  .dashboard_orders .dashboard_orders_block .prof_order span {
    font-size: 10px;
  }
  .dashboard_orders .dashboard_orders_block .prof_order .order_summ {
    left: 90%;
  }
}
@media (max-width: 1000px) {
  .dashboard_order {
    grid-template-columns: 1fr;
  }
  .dashboard_order .dashboard_sidebar {
    order: 1;
  }
  .dashboard_order .client_information {
    order: 2;
  }
  .dashboard_order .dashboard_order_block {
    order: 3;
  }
}
@media (max-width: 768px) {
  .dashboard_order .purchase .main_desc {
    width: auto;
  }
}
@media (max-width: 550px) {
  .dashboard_order .dashboard_order_block .name_of_web {
    flex-direction: column;
    align-items: flex-start;
  }
  .dashboard_order .dashboard_order_block .name_of_web span {
    margin: 10px 0;
  }
  .dashboard_order .dashboard_order_block .name_of_web .filter_status {
    width: auto;
  }
  .dashboard_order .dashboard_order_block .name_of_web .filter_status span {
    margin-right: 5px;
  }
  .dashboard_order .dashboard_order_block .purchase .all_information {
    flex-wrap: wrap;
  }
  .dashboard_order .dashboard_order_block .purchase .quantity_and_summ {
    width: 70%;
    margin-top: 20px;
  }
}
