* {
  box-sizing: border-box;
}
body,
main {
  width: 100%;
  font-family: "Jost", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
}
a,
a:focus,
a:hover {
  outline: none;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
.default_input {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
}
.default_input::placeholder {
  font-size: 12px;
}
.action_button {
  min-width: 200px;
  background-color: #000000;
  padding: 12px 0;
  display: inline-block;
  box-sizing: border-box;
}
.action_button p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
.inherit_button {
  background-color: inherit;
  border: 2px solid #000;
}
.inherit_button p {
  color: #000;
}
.nonactive_button {
  background-color: inherit;
}
.nonactive_button p {
  font-weight: bold;
  color: #999999;
}
.active_button {
  background-color: #F2F3F5;
}
.active_button p {
  font-weight: bold;
  color: #000;
}
.open_video {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 14.5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.3s ease;
}
.open_video .fa {
  color: #05B1E9;
}
.open_video:hover {
  transform: scale(1.1);
}
.name_of_web {
  width: 50%;
}
.name_of_web p {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.search {
  width: 40%;
  position: relative;
}
.search form {
  width: 100%;
  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
}
.search input::placeholder {
  font-size: 12px;
}
.search .desktop_btn {
  cursor: pointer;
  background-color: inherit;
  position: absolute;
  right: 7px;
}
.search .action_button {
  display: none;
  min-width: 30%;
  height: 30px;
}
.search .action_button p {
  font-size: 10px;
}
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #E6E6E6;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 12px;
  color: #000;
  height: 40px;
  line-height: 35px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #E6E6E6;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #E6E6E6;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #F2F3F5;
}
.custom-option.selected {
  color: #000;
  background-color: #F2F3F5;
}
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
}
.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: #000;
}
.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background-color: #000;
}
.open .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}
.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
}
.polzunok-container {
  position: relative;
}
.polzunok-container .high,
.polzunok-container .low {
  position: absolute;
  bottom: -34px;
  font-size: 12px;
  font-weight: 500;
}
.polzunok-container .low {
  left: 0;
}
.polzunok-container .high {
  right: 0;
}
.polzunok-container:after {
  content: "";
  clear: both;
  display: table;
}
.ui-widget.ui-widget-content {
  border: none !important;
}
.polzunok-container .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 3px;
  border: 0;
  background-color: #05B1EA;
}
.polzunok-container .ui-slider {
  position: relative;
  background: #E6E6E6;
  height: 2px;
}
.polzunok-container .ui-slider .ui-slider-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: #FFF;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}
.polzunok-container .ui-slider .ui-slider-handle:focus,
.polzunok-container .ui-slider .ui-slider-handle:hover {
  transform: scale(1.1);
}
.polzunok-input-5-left,
.polzunok-input-5-right {
  width: 40px;
  background: none;
  position: absolute;
  left: -5px;
  margin-top: 10px;
}
.ui-widget input {
  font-size: 12px !important;
  font-family: "Jost" !important;
}
.grey_line {
  width: 100%;
  height: 2px;
  background-color: #E6E6E6;
  margin: 25px 0;
}
.navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.navigation .nav {
  display: flex;
}
.navigation .nav a {
  color: #BCBCBC;
}
.products {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(4, 24%);
  grid-row-gap: 30px;
}
.question {
  width: 100%;
  background-image: url("../img/content/question-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question .help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question .title {
  margin-top: 60px;
  margin-bottom: 20px;
}
.question .title p {
  text-transform: uppercase;
}
.question .connection {
  width: 44%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.question a {
  color: red;
}
.question form {
  align-self: center;
  width: 40%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.question form input {
  width: 70%;
}
.question form button {
  height: 40px;
  padding: 0;
  width: 30%;
  min-width: inherit;
}
.title {
  text-align: center;
  margin: 40px 0;
}
.title p {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.news {
  display: flex;
  flex-direction: column;
  background-color: #F2F3F5;
  cursor: pointer;
}
.news img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}
.news p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
}
.name_of_product {
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}
.brand_of_product {
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  font-family: "PT Sans";
  font-weight: 700;
}
.price_of_product {
  font-size: 20px;
  font-weight: bold;
}
.product {
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
}
.product .go_to_product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.product .fa {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #05B1E9;
}
.product img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}
.product span {
  margin-top: 5px;
}
.product .description {
  font-size: 12px;
}
.purchase {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.purchase .all_information {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.purchase .main_desc {
  align-items: center;
  display: flex;
}
.purchase .main_desc img {
  width: 100px;
  object-fit: cover;
  margin-right: 40px;
}
.purchase .main_desc .information_block {
  display: flex;
  flex-direction: column;
}
.purchase .main_desc .name_of_product {
  margin: 5px 0 10px 0;
}
.purchase .main_desc .size_of_product,
.purchase .main_desc .delivery {
  font-size: 12px;
}
.purchase .price_block {
  position: absolute;
  left: 50%;
}
.purchase .quantity_block {
  display: flex;
  position: absolute;
  left: 70%;
}
.purchase .quantity_block input {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
}
.purchase .quantity_block .operations {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 25px;
}
.purchase .quantity_block .operation {
  height: 25px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-left: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 16px;
}
.purchase .quantity_block .plus {
  border-bottom: none;
}
.purchase .summ_block {
  position: absolute;
  left: 90%;
  display: flex;
}
.purchase .summ_block span {
  font-size: 20px;
  font-weight: bold;
}
.purchase .delete {
  position: absolute;
  left: 98%;
}
.purchase .delete .fa {
  font-size: 25px;
}
.filter {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.filter p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.filter li {
  margin-bottom: 20px;
}
.filter .subcategory {
  margin-top: 20px;
  margin-left: 20px;
}
.mobile_menu {
  cursor: pointer;
  width: 25px;
  display: none;
  flex-direction: column;
}
.mobile_menu .burg {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
  box-sizing: border-box;
}
.mobile_menu .burg:last-child {
  margin-bottom: 0;
}
.mobile {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 250;
  transition: all 0.35s;
}
.mobile .close_mob_menu {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}
.mobile .wrap {
  box-sizing: border-box;
  padding-top: 50px;
  width: 250px;
  height: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  justify-content: flex-start;
  float: left;
}
.mobile .links {
  display: flex;
  flex-direction: column;
}
.mobile .links a {
  line-height: 7px;
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
}
.active {
  left: 0;
}
.blur {
  filter: blur(4px);
}
footer,
header {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
header {
  z-index: 15;
}
.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .left {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.header .left .down,
.header .left .up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 20%;
  display: flex;
}
.header .logo img {
  width: 100%;
}
.header .choice {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.header .choice p {
  cursor: pointer;
  text-transform: uppercase;
  line-height: 10px;
  color: #000000;
  font-weight: bold;
}
.header .search_btn .fa-search:before {
  color: #606262;
}
.header .search_mobile {
  display: none;
}
.header .links {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links a {
  line-height: 7px;
  color: #000000;
  font-size: 16px;
}
.header .right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.header .right .down,
.header .right .up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .right .information {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .right .information p {
  font-size: 12px;
  line-height: 7px;
  color: #878787;
  font-weight: 500;
}
.header .right .down {
  justify-content: flex-end;
}
.header .right .personal_area {
  margin-top: 25px;
  display: flex;
  width: 28%;
  justify-content: space-between;
}
.header .right .basket {
  position: relative;
}
.header .right .counter {
  position: absolute;
  bottom: -5px;
  right: -2px;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #00b1ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right .counter p {
  font-size: 11px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
}
.headerMargin {
  z-index: 2;
  width: 100%;
}
footer {
  z-index: 5;
  position: static;
  background-color: #f2f3f5;
  flex-direction: column;
}
.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer .inf {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.footer .text {
  display: flex;
  flex-direction: column;
}
.footer .subtitle {
  font-weight: 500;
  margin-bottom: 20px;
}
.footer ul a {
  font-size: 12px;
  line-height: 24px;
  color: #545454;
}
.footer .links {
  display: flex;
  margin-top: 20px;
}
.footer .links .fa {
  font-size: 25px;
}
.footer .links .insta_link {
  margin-right: 20px;
}
.footer .photo {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}
.agreement {
  width: 100%;
  background-color: #ECEDF0;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.agreement .container {
  display: flex;
  justify-content: space-between;
}
.agreement a,
.agreement p {
  font-size: 11px;
  color: #878787;
  font-weight: bold;
}
.agreement a {
  border-bottom: 1px solid #878787;
}
.slider {
  display: block;
  width: 100%;
}
.slider .slick-dots {
  transform: rotate(90deg);
  width: auto;
  right: 20%;
  bottom: 50%;
}
.slider .slick-dots li button:before {
  font-size: 8px;
}
.slider .slick-dots .slick-active button:before {
  font-size: 10px;
}
.slider .slide {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slide .img_slide {
  width: 100%;
}
.slider .slide img {
  width: 100%;
  object-fit: contain;
  z-index: 2;
}
.slider .slide .slide_info {
  position: absolute;
  z-index: 3;
}
.slider .slide .info_wrap {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.slider .slide .slide_number {
  z-index: -1;
  position: absolute;
  top: -20%;
  left: -25%;
  font-size: 127px;
  color: #F4F6F7;
  font-family: "Montserrat";
  font-weight: 500;
}
.slider .slide .name {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}
.slider .slide .from {
  font-size: 16px;
}
.slider .slide .video {
  margin: 30px 0;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
}
.slider .slide .video a {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 30%;
  left: 25%;
  height: 30px;
  width: 30px;
}
.slider .slide .video a .fa {
  font-size: 10px;
}
.slider .slide .video .video_img {
  display: block;
}
.slider .slide .video .video_img img {
  display: block;
  width: 100%;
  object-fit: contain;
}
.slider .slide .video .video_text {
  width: 60%;
  display: flex;
  align-items: center;
}
.slider .slide .video .video_text p {
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
}
.slider .slide .actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider .slide button {
  min-width: 45%;
}
.second {
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.second .shop_info {
  z-index: 3;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.second p {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}
.second span {
  width: 100%;
  margin-top: 20px;
}
.second .video {
  width: 50%;
  position: relative;
}
.second .video .shop_info_mob {
  display: none;
}
.second .macbook {
  z-index: 4;
  width: 100%;
}
.second .logo {
  width: 80%;
  position: absolute;
  top: -15%;
  left: 5%;
  z-index: -1;
}
.second .arrow_1 {
  transform: rotate(80deg);
  position: absolute;
  top: -10%;
  left: -20%;
}
.second .arrow_2 {
  position: absolute;
  top: 55%;
  left: -25%;
}
.second .open_video {
  height: 80px;
  width: 80px;
  left: 0;
  top: 35%;
}
.second .fa {
  font-size: 24px;
}
.prod_general_style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.prod_general_style .action_button {
  margin-top: 40px;
}
.fourth {
  width: 100%;
  background-image: url("../img/content/news-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.fourth .container {
  display: flex;
  flex-direction: column;
}
.fourth .container .title {
  margin-top: 70px;
}
.fourth .container .trends {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(3, 32%);
  grid-row-gap: 30px;
}
.six {
  display: grid;
  grid-template-areas: "up big_banner big_banner" "down big_banner big_banner";
  grid-template-columns: repeat(3, 32%, 30%, 30%);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 80px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.six a {
  display: flex;
  position: relative;
}
.six a img {
  width: 100%;
  object-fit: cover;
}
.six a p {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  padding: 10px;
}
.six .text {
  position: absolute;
  z-index: 4;
}
.six .down_banner .block_up,
.six .up_banner .block_up {
  width: 100px;
  height: 30px;
  background-color: #fff;
  top: 32%;
  right: 12%;
}
.six .down_banner .text_up,
.six .up_banner .text_up {
  top: 30%;
  right: 9%;
}
.six .down_banner .block_down,
.six .up_banner .block_down {
  width: 100px;
  height: 30px;
  background-color: #DEF9FF;
  top: 44%;
  right: 14%;
}
.six .down_banner .text_down,
.six .up_banner .text_down {
  top: 42%;
  right: 11%;
}
.six .up_banner {
  grid-area: up;
}
.six .down_banner {
  grid-area: down;
}
.six .down_banner .block_down {
  background-color: #FFE8E8;
}
.six .down_banner .text_down {
  top: 42%;
  right: 14%;
}
.six .big_banner {
  grid-area: big_banner;
}
.six .big_banner .block_up {
  width: 150px;
  height: 30px;
  background-color: #fff;
  top: 64%;
  right: 16%;
}
.six .big_banner .text_up {
  top: 63%;
  right: 16%;
}
.six .big_banner .block_down {
  width: 80px;
  height: 30px;
  background-color: #FFEFE7;
  top: 70%;
  right: 29%;
}
.six .big_banner .text_down {
  top: 69%;
  right: 29%;
}
.catalog_page {
  display: flex;
  flex-direction: column;
}
.name_and_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.name_and_filter .dropdown {
  width: 20%;
}
.catalog_and_filters {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: 24% 75%;
}
.catalog_and_filters .filters {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  width: 100%;
}
.catalog_and_filters .filters .category p {
  margin-top: 20px;
}
.catalog_and_filters .filters .filter_actions {
  display: none;
}
.catalog_and_filters .filters .search {
  width: 100%;
}
.catalog_and_filters .filters .ui-slider-handle {
  display: block;
}
.catalog_and_filters .catalog {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(3, 32%);
  grid-row-gap: 30px;
  margin-bottom: 70px;
}
.show_more {
  display: none;
}
.recomendations_and_viewed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recomendations_and_viewed .actions {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.recomendations_and_viewed .action_button {
  min-width: auto;
  padding: 12px 15px;
}
.recomendations_and_viewed .products {
  margin-bottom: 80px;
  display: none;
}
.recomendations_and_viewed .item_active {
  display: flex;
}
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 100px 0;
}
.form span {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.form .socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form .socials p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form .socials .go_through_soc {
  display: flex;
}
.form .socials a {
  margin-right: 20px;
}
.form .socials .fa {
  font-size: 35px;
}
.form .create_acc,
.form .forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form .create_acc p,
.form .forgot p {
  font-size: 14px;
}
.form .create_acc a,
.form .forgot a {
  font-size: 12px;
  color: #06B1EB;
}
.form .reg_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form label {
  font-size: 14px;
  margin-bottom: 10px;
  color: #8C8C8C;
}
.form input {
  margin-bottom: 10px;
}
.form .action_button {
  margin-top: 20px;
  width: 50%;
  align-self: center;
}
.form .action_button p {
  font-size: 14px;
  text-transform: capitalize;
}
.shopping_basket {
  display: flex;
  flex-direction: column;
  position: relative;
}
.shopping_basket .all_shoppings {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shopping_basket .description {
  margin-top: 30px;
  display: flex;
  width: 100%;
  position: relative;
}
.shopping_basket .description p {
  color: #BCBCBC;
  position: absolute;
}
.shopping_basket .description .price {
  left: 50%;
}
.shopping_basket .description .quantity {
  left: 70%;
}
.shopping_basket .description .amount {
  left: 90%;
}
.shopping_basket .purchases {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shopping_basket .total {
  margin-right: 5%;
  align-self: flex-end;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.shopping_basket .total .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.shopping_basket .total p {
  font-size: 18px;
  font-weight: bold;
}
.shopping_basket .total .actions {
  display: flex;
  justify-content: space-between;
}
.shopping_basket .total button p {
  font-size: 14px;
  font-weight: normal;
}
.shopping_basket .total .favorites {
  width: 50%;
}
.shopping_basket .total .order {
  width: 40%;
}
