* {
  box-sizing: border-box;
}
body,
main {
  width: 100%;
  font-family: "Jost", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.container {
  width: 80%;
}
a,
a:focus,
a:hover {
  outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
.default_input,
textarea {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
  font-family: "Arial", sans-serif;
}
.default_input::placeholder {
  font-size: 12px;
}
textarea::placeholder {
  font-size: 14px;
  font-family: "Jost";
}
.reg_form,
.default_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.reg_form .input_block,
.default_form .input_block {
  flex-direction: column;
  display: flex;
}
.reg_form label,
.default_form label {
  font-size: 14px;
  margin-bottom: 10px;
  color: #8C8C8C;
}
.reg_form input,
.default_form input {
  margin-bottom: 10px;
}
.socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.socials p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.socials .go_through_soc {
  display: flex;
}
.socials a {
  margin-right: 20px;
}
.socials a:hover .fa {
  color: #05B1E9;
}
.socials .fa {
  font-size: 35px;
  transition: all ease 0.3s;
}
.default_button {
  min-width: 200px;
  background-color: inherit;
  padding: 12px 0;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.3s ease all;
}
.default_button p,
.default_button a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
.default_button:hover {
  transform: scale(1.05);
}
.black_button {
  background-color: #000000;
}
.black_button:hover {
  background-color: #05B1E9;
}
.inherit_button {
  background-color: inherit;
  border: 2px solid #000;
}
.inherit_button p {
  color: #000;
}
.inherit_button:hover {
  background-color: #000;
}
.inherit_button:hover p {
  color: #fff;
}
.nonactive_button {
  background-color: inherit;
}
.nonactive_button p {
  font-weight: bold;
  color: #999999;
}
.active_button {
  background-color: #F2F3F5;
  padding: 12px 10px;
}
.active_button p {
  font-weight: bold;
  color: #000;
}
.open_video {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 14.5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.3s ease;
}
.open_video .fa {
  color: #05B1E9;
}
.open_video:hover {
  transform: scale(1.1);
}
.name_of_web {
  width: 50%;
}
.name_of_web p {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.search {
  width: 40%;
  position: relative;
}
.search form {
  width: 100%;
  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
}
.search input::placeholder {
  font-size: 12px;
}
.search .desktop_btn {
  cursor: pointer;
  background-color: inherit;
  position: absolute;
  right: 7px;
}
.search .default_button {
  display: none;
  min-width: 30%;
  height: 30px;
}
.search .default_button p {
  font-size: 10px;
}
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 10;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #E6E6E6;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 12px;
  color: #000;
  height: 40px;
  line-height: 35px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #E6E6E6;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #E6E6E6;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #F2F3F5;
}
.custom-option.selected {
  color: #000;
  background-color: #F2F3F5;
}
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
}
.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: #000;
}
.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background-color: #000;
}
.open .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}
.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
}
.polzunok-container {
  position: relative;
}
.polzunok-container .high,
.polzunok-container .low {
  position: absolute;
  bottom: -34px;
  font-size: 12px;
  font-weight: 500;
}
.polzunok-container .low {
  left: 0;
}
.polzunok-container .high {
  right: 0;
}
.order_description {
  margin-top: 30px;
  display: flex;
  width: 100%;
  position: relative;
}
.order_description p {
  color: #BCBCBC;
  position: absolute;
}
.order_description .price {
  left: 50%;
}
.order_description .quantity {
  left: 70%;
}
.order_description .amount {
  left: 90%;
}
.total {
  margin-right: 5%;
  align-self: flex-end;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.total .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.total p {
  font-size: 18px;
  font-weight: bold;
}
.total .actions {
  display: flex;
  justify-content: space-between;
}
.total button p {
  font-size: 14px;
  font-weight: normal;
}
.total .favorites {
  width: 50%;
}
.total .order {
  width: 40%;
}
.card {
  height: 44px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease all;
}
.card img {
  margin-right: 15px;
}
.card:hover {
  transform: scale(1.05);
}
.yandex img {
  width: 20px;
}
.offer {
  width: 50%;
}
.offer p {
  font-size: 12px;
}
.offer a {
  border-bottom: 1px solid #000;
}
.add_to_fav .fa {
  font-size: 30px;
  color: #05B1E9;
}
.polzunok-container:after {
  content: "";
  clear: both;
  display: table;
}
.ui-widget.ui-widget-content {
  border: none !important;
}
.polzunok-container .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 3px;
  border: 0;
  background-color: #05B1EA;
}
.polzunok-container .ui-slider {
  position: relative;
  background: #E6E6E6;
  height: 2px;
}
.polzunok-container .ui-slider .ui-slider-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: #FFF;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}
.polzunok-container .ui-slider .ui-slider-handle:focus,
.polzunok-container .ui-slider .ui-slider-handle:hover {
  transform: scale(1.1);
}
.polzunok-input-5-left,
.polzunok-input-5-right {
  width: 40px;
  background: none;
  position: absolute;
  left: -5px;
  margin-top: 10px;
}
.ui-widget input {
  font-size: 12px !important;
  font-family: "Jost" !important;
}
.grey_line {
  width: 100%;
  height: 2px;
  background-color: #E6E6E6;
  margin: 25px 0;
}
.navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.navigation .nav {
  display: flex;
}
.navigation .nav a {
  color: #BCBCBC;
}
.products {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(4, 24%);
  grid-row-gap: 30px;
}
.question {
  width: 100%;
  background-image: url("../img/content/question-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question .help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question .title {
  margin-top: 60px;
  margin-bottom: 20px;
}
.question .title p {
  text-transform: uppercase;
}
.question .connection {
  width: 44%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.question a {
  color: red;
}
.question form {
  align-self: center;
  width: 40%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.question form input {
  width: 70%;
}
.question form button {
  height: 40px;
  padding: 0;
  width: 30%;
  min-width: inherit;
}
.title {
  text-align: center;
  margin: 40px 0;
}
.title p {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.fashion_news {
  display: flex;
  flex-direction: column;
  background-color: #F2F3F5;
  transition: 0.2s all ease;
  cursor: pointer;
}
.fashion_news img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}
.fashion_news p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
}
.fashion_news:hover {
  transform: scale(1.04);
}
.name_of_product {
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}
.brand_of_product {
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  font-family: "PT Sans";
  font-weight: 700;
}
.price_of_product {
  font-size: 20px;
  font-weight: bold;
}
.product {
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  transition: all ease 0.2s;
}
.product .go_to_product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.product .fa {
  z-index: 5;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #05B1E9;
}
.product img {
  transition: all ease 0.2s;
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}
.product .hide_picture {
  transition: all ease 0.2s;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.product span {
  margin-top: 5px;
}
.product .description {
  font-size: 12px;
}
.product:hover img {
  transform: scale(1.04);
}
.product:hover .hide_picture {
  transform: scale(1.04);
  opacity: 1;
}
.brand {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  display: flex;
  border: 2px solid #F2F3F5;
}
.brand .brand_logo {
  margin: 20px 0;
  align-self: center;
  width: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100px;
}
.brand img {
  width: 100%;
}
.brand .brand_name {
  font-size: 18px;
  line-height: 54px;
  color: #060606;
  font-weight: 700;
  font-family: "PT Sans";
}
.brand .rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.brand span {
  font-size: 12px;
}
.brand .stars {
  display: flex;
}
.brand .fa-star {
  font-style: 15px;
  color: #F2F3F5;
}
.brand .active_star {
  color: #05B1E9;
}
.purchase {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.purchase .all_information {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.purchase .main_desc {
  align-items: center;
  display: flex;
}
.purchase .main_desc img {
  width: 100px;
  object-fit: cover;
  margin-right: 40px;
}
.purchase .main_desc .information_block {
  display: flex;
  flex-direction: column;
}
.purchase .main_desc .name_of_product {
  margin: 5px 0 10px 0;
}
.purchase .main_desc .size_of_product,
.purchase .main_desc .delivery {
  font-size: 12px;
}
.purchase .price_block {
  position: absolute;
  left: 50%;
}
.purchase .quantity_final {
  display: none;
}
.purchase .quantity_and_summ {
  display: none;
}
.purchase .views {
  display: none;
}
.purchase .quantity_block {
  display: flex;
  position: absolute;
  left: 70%;
}
.purchase .quantity_block input {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
}
.purchase .quantity_block .operations {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 25px;
}
.purchase .quantity_block .operation {
  height: 25px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-left: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 16px;
}
.purchase .quantity_block .plus {
  border-bottom: none;
}
.purchase .summ_block {
  position: absolute;
  left: 90%;
  display: flex;
}
.purchase .summ_block span {
  font-size: 20px;
  font-weight: bold;
}
.purchase .delete {
  position: absolute;
  left: 98%;
}
.purchase .delete .fa {
  font-size: 25px;
}
.filter {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.filter p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.filter li {
  margin-bottom: 20px;
}
.filter .subcategory {
  margin-top: 20px;
  margin-left: 20px;
}
.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}
.overlay.open {
  opacity: 1;
  pointer-events: inherit;
  z-index: 300;
}
.overlay .modal {
  background: white;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: hidden;
}
.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit;
  overflow-y: scroll;
}
.overlay .modal.open .content {
  transform: translate(0, 0px);
  opacity: 1;
}
.overlay .modal .content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: 0.35s ease-in-out;
}
.modal {
  width: 70%;
  padding: 20px 30px;
}
.modal .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal .content .close-modal {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .orders_information {
  overflow-y: scroll;
  width: 100%;
}
.modal .purchase {
  margin-bottom: 20px;
}
.modal .quantity_and_summ {
  position: absolute;
  left: 70%;
  display: flex;
}
.modal .purchase .main_desc .information_block {
  align-items: flex-start;
}
.mobile_menu {
  cursor: pointer;
  width: 25px;
  display: none;
  flex-direction: column;
}
.mobile_menu .burg {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
  box-sizing: border-box;
}
.mobile_menu .burg:last-child {
  margin-bottom: 0;
}
.mobile {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 250;
  transition: all 0.35s;
}
.mobile .close_mob_menu {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}
.mobile .wrap {
  box-sizing: border-box;
  padding-top: 50px;
  width: 250px;
  height: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  justify-content: flex-start;
  float: left;
}
.mobile .links {
  display: flex;
  flex-direction: column;
}
.mobile .links a {
  line-height: 7px;
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
}
.active {
  left: 0;
}
.blur {
  filter: blur(4px);
}
footer,
header {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
header {
  z-index: 15;
}
.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .left {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.header .left .down,
.header .left .up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 20%;
  display: flex;
}
.header .logo img {
  width: 100%;
}
.header .choice {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.header .choice p {
  cursor: pointer;
  text-transform: uppercase;
  line-height: 10px;
  color: #000000;
  font-weight: bold;
  transition: all ease 0.5s;
  position: relative;
}
.header .choice p:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #000;
  content: "";
  transition: width 0.3s ease-out;
}
.header .choice p:hover:after,
.header .choice p:focus:after {
  width: 100%;
}
.header .search_btn .fa-search:before {
  color: #606262;
}
.header .search_mobile {
  display: none;
}
.header .links {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links a {
  line-height: 7px;
  color: #000000;
  font-size: 16px;
}
.header .menu_category {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 5;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px 0;
}
.header .menu_category .columns {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 35%;
  justify-content: space-between;
}
.header .menu_category .column {
  display: flex;
  flex-direction: column;
}
.header .menu_category .col_category {
  height: 20px;
  margin: 10px 0;
  font-size: 16px;
}
.header .menu_category li {
  margin-bottom: 10px;
}
.header .menu_category .category_link {
  color: #878787;
  position: relative;
}
.header .menu_category .category_link:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #878787;
  content: "";
  transition: width 0.3s ease-out;
}
.header .menu_category .category_link:hover:after,
.header .menu_category .category_link:focus:after {
  width: 100%;
}
.header .menu_category img {
  width: 100%;
  object-fit: contain;
}
.header .menu_category .short_desc {
  font-size: 12px;
}
.header .menu_category .new_dress {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-family: "PT Sans";
  margin: 10px 0;
}
.header .right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.header .right .down,
.header .right .up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .right .information {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .right .information p {
  cursor: default;
  position: relative;
  font-size: 12px;
  line-height: 7px;
  color: #878787;
  font-weight: 500;
}
.header .right .information p:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background-color: #878787;
  content: "";
  transition: width 0.3s ease-out;
}
.header .right .information p:hover:after,
.header .right .information p:focus:after {
  width: 100%;
}
.header .right .down {
  justify-content: flex-end;
}
.header .right .personal_area {
  margin-top: 25px;
  display: flex;
  width: 28%;
  justify-content: space-between;
}
.header .right .fa {
  color: #606262;
  font-size: 20px;
  transition: all 0.2s ease;
}
.header .right .fa:hover {
  color: #05B1E9;
}
.header .right .basket {
  position: relative;
}
.header .right .counter {
  position: absolute;
  bottom: -5px;
  right: -2px;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #00b1ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right .counter p {
  font-size: 11px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
}
.header .right .basket:hover .counter {
  background-color: #000;
}
.headerMargin {
  z-index: 2;
  width: 100%;
}
footer {
  z-index: 5;
  position: static;
  background-color: #F2F3F5;
  flex-direction: column;
}
.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer .inf {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.footer .text {
  display: flex;
  flex-direction: column;
}
.footer .subtitle {
  font-weight: 500;
  margin-bottom: 20px;
}
.footer ul a {
  font-size: 12px;
  line-height: 24px;
  color: #545454;
  position: relative;
  transition: all 0.1s ease;
}
.footer ul a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: #545454;
  content: "";
  transition: width 0.3s ease-out;
}
.footer ul a:hover {
  font-weight: bold;
}
.footer ul a:hover:after,
.footer ul a:focus:after {
  width: 100%;
}
.footer .links {
  display: flex;
  margin-top: 20px;
}
.footer .links .fa {
  font-size: 25px;
}
.footer .links .insta_link {
  margin-right: 20px;
}
.footer .photo {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}
.agreement {
  width: 100%;
  background-color: #ECEDF0;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.agreement .container {
  display: flex;
  justify-content: space-between;
}
.agreement a,
.agreement p {
  font-size: 11px;
  color: #878787;
  font-weight: bold;
}
.agreement a {
  border-bottom: 1px solid #878787;
}
.main_slider {
  display: block;
  width: 100%;
}
.main_slider .slick-dots {
  transform: rotate(90deg);
  width: auto;
  right: 20%;
  bottom: 50%;
}
.main_slider .slick-dots li button:before {
  font-size: 8px;
}
.main_slider .slick-dots .slick-active button:before {
  font-size: 10px;
}
.main_slider .desktop_arrow {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 0;
  z-index: 10;
}
.main_slider .arrow_next {
  right: 22%;
}
.main_slider .arrow_prev {
  right: 27%;
}
.main_slider .slide {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_slider .slide .img_slide {
  width: 100%;
}
.main_slider .slide img {
  width: 100%;
  object-fit: contain;
  z-index: 2;
}
.main_slider .slide .slide_info {
  position: absolute;
  z-index: 3;
}
.main_slider .slide .info_wrap {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main_slider .slide .slide_number {
  z-index: -1;
  position: absolute;
  top: -20%;
  left: -25%;
  font-size: 127px;
  color: #F4F6F7;
  font-family: "Montserrat";
  font-weight: 500;
}
.main_slider .slide .name {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}
.main_slider .slide .from {
  font-size: 16px;
}
.main_slider .slide .video {
  margin: 30px 0;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
}
.main_slider .slide .video a {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 30%;
  left: 25%;
  height: 30px;
  width: 30px;
}
.main_slider .slide .video a .fa {
  font-size: 10px;
}
.main_slider .slide .video .video_img {
  display: block;
}
.main_slider .slide .video .video_img img {
  display: block;
  width: 100%;
  object-fit: contain;
}
.main_slider .slide .video .video_text {
  width: 60%;
  display: flex;
  align-items: center;
}
.main_slider .slide .video .video_text p {
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
}
.main_slider .slide .actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main_slider .slide button {
  min-width: 45%;
}
.second {
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.second .shop_info {
  z-index: 3;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.second p {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}
.second span {
  width: 100%;
  margin-top: 20px;
}
.second .video {
  width: 50%;
  position: relative;
}
.second .video .shop_info_mob {
  display: none;
}
.second .macbook {
  z-index: 4;
  width: 100%;
}
.second .logo {
  width: 80%;
  position: absolute;
  top: -15%;
  left: 5%;
  z-index: -1;
}
.second .arrow_1 {
  transform: rotate(80deg);
  position: absolute;
  top: -10%;
  left: -20%;
}
.second .arrow_2 {
  position: absolute;
  top: 55%;
  left: -25%;
}
.second .open_video {
  height: 80px;
  width: 80px;
  left: 0;
  top: 35%;
}
.second .fa {
  font-size: 24px;
}
.grid_general_style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.grid_general_style .default_button {
  margin-top: 40px;
}
.fourth {
  width: 100%;
  background-image: url("../img/content/news-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.fourth .container {
  display: flex;
  flex-direction: column;
}
.fourth .container .title {
  margin-top: 70px;
}
.fourth .container .trends {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(3, 32%);
  grid-row-gap: 30px;
}
.six {
  display: grid;
  grid-template-areas: "up big_banner big_banner" "down big_banner big_banner";
  grid-template-columns: repeat(3, 32%, 30%, 30%);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 80px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.six a {
  display: flex;
  position: relative;
  transition: all ease 0.3s;
}
.six a img {
  transition: all ease 0.4s;
  width: 100%;
  object-fit: cover;
}
.six a .hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: -webkit-fill-available;
  height: fill-available;
}
.six a p {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  padding: 10px;
}
.six a:hover {
  transform: scale(1.02);
}
.six a:hover .hidden {
  opacity: 1;
}
.six .text {
  position: absolute;
  z-index: 4;
}
.six .down_banner .block_up,
.six .up_banner .block_up {
  width: 100px;
  height: 30px;
  background-color: #fff;
  top: 32%;
  right: 12%;
  z-index: 4;
}
.six .down_banner .text_up,
.six .up_banner .text_up {
  top: 30%;
  right: 9%;
  z-index: 5;
}
.six .down_banner .block_down,
.six .up_banner .block_down {
  width: 100px;
  height: 30px;
  background-color: #DEF9FF;
  top: 44%;
  right: 14%;
  z-index: 4;
}
.six .down_banner .text_down,
.six .up_banner .text_down {
  top: 42%;
  right: 11%;
  z-index: 5;
}
.six .up_banner {
  grid-area: up;
}
.six .down_banner {
  grid-area: down;
}
.six .down_banner .block_down {
  background-color: #FFE8E8;
}
.six .down_banner .text_down {
  top: 42%;
  right: 14%;
}
.six .big_banner {
  grid-area: big_banner;
}
.six .big_banner .block_up {
  width: 150px;
  height: 30px;
  background-color: #fff;
  top: 64%;
  right: 16%;
}
.six .big_banner .text_up {
  top: 63%;
  right: 16%;
}
.six .big_banner .block_down {
  width: 80px;
  height: 30px;
  background-color: #FFEFE7;
  top: 70%;
  right: 29%;
}
.six .big_banner .text_down {
  top: 69%;
  right: 29%;
}
.catalog_page {
  display: flex;
  flex-direction: column;
}
.name_and_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.name_and_filter .dropdown {
  width: 20%;
}
.catalog_and_filters {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: 24% 75%;
}
.catalog_and_filters .filters {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  width: 100%;
}
.catalog_and_filters .filters .category p {
  margin-top: 20px;
}
.catalog_and_filters .filters .filter_actions {
  display: none;
}
.catalog_and_filters .filters .search {
  width: 100%;
}
.catalog_and_filters .filters .ui-slider-handle {
  display: block;
}
.catalog_and_filters .catalog {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(3, 32%);
  grid-row-gap: 30px;
  margin-bottom: 70px;
}
.show_more {
  display: none;
}
.recomendations_and_viewed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recomendations_and_viewed .actions {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.recomendations_and_viewed .default_button {
  min-width: auto;
}
.recomendations_and_viewed .products {
  margin-bottom: 80px;
  display: none;
}
.recomendations_and_viewed .item_active {
  display: grid;
}
.registration_page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 100px 0;
}
.form span {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.form .create_acc,
.form .forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form .create_acc p,
.form .forgot p {
  font-size: 14px;
}
.form .create_acc a,
.form .forgot a {
  font-size: 12px;
  color: #06B1EB;
}
.form .default_button {
  margin-top: 20px;
  width: 50%;
  align-self: center;
}
.form .default_button p {
  font-size: 14px;
  text-transform: capitalize;
}
.shopping_basket_page {
  display: flex;
  flex-direction: column;
  position: relative;
}
.shopping_basket_page .all_shoppings {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shopping_basket_page .purchases {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shopping_basket_page .purchases .quantity_final {
  display: none;
}
.shopping_basket_page .purchases .quantity_and_summ {
  display: none;
}
.checkout_page {
  display: flex;
  flex-direction: column;
}
.order_registration {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 30px;
}
.step .grey_line {
  margin-bottom: 10px;
  height: 4px;
  position: relative;
}
.step .round {
  z-index: 3;
  left: 95%;
  top: -5px;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #e6e6e6;
}
.step p {
  font-size: 14px;
  font-weight: bold;
}
.left_reg {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.left_reg .steps {
  display: flex;
  width: 100%;
}
.left_reg .steps_mob {
  display: none;
}
.left_reg .delivery_step .grey_line {
  background-color: #05B1EA;
}
.left_reg .checkout_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.left_reg .form_block {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.left_reg .form_block input {
  margin-bottom: 10px;
}
.left_reg .form_block .half {
  width: 49%;
}
.right_reg {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
}
.right_reg .order_description .quantity {
  left: 65%;
}
.right_reg .order_description .price {
  left: 90%;
}
.right_reg .orders {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.right_reg .orders .purchase .main_desc {
  width: 65%;
}
.right_reg .orders .purchase .main_desc img {
  width: 80px;
  margin-right: 10px;
}
.right_reg .orders .purchase .main_desc .information_block {
  width: 80%;
}
.right_reg .orders .purchase .main_desc .information_block p {
  width: 100%;
  display: inline-block;
}
.right_reg .orders .purchase .price_block {
  display: none;
}
.right_reg .orders .purchase .delete {
  display: none;
}
.right_reg .orders .purchase .quantity_block {
  display: none;
}
.right_reg .orders .purchase .quantity_final {
  display: block;
  position: absolute;
  left: 70%;
}
.right_reg .orders .purchase .quantity_final p {
  font-weight: bold;
}
.right_reg .orders .purchase .quantity_and_summ {
  display: none;
}
.right_reg .orders .purchase .summ_block {
  left: 86%;
}
.right_reg .total {
  width: 100%;
  position: static;
  margin-right: 0;
}
.payment .payment_step .grey_line {
  background-color: #05B1EA;
}
.payment .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.payment .cards .card {
  width: 49%;
}
.confirmation .step .grey_line {
  background-color: #05B1EA;
}
.confirmation .steps_mob {
  display: none;
}
.confirmation .name_mob {
  display: none;
}
.confirmation .num_mob {
  display: none;
}
.confirmation .offer_mob {
  display: none;
}
.confirmation .act_mob {
  display: none;
}
.confirmation .number_of_order {
  width: 100%;
  margin-bottom: 10px;
}
.confirmation .number_of_order p {
  font-size: 18px;
}
.confirmation .form_subtitle {
  margin: 20px 0;
}
.goods_page .main_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.goods_page .sliders {
  width: 50%;
  display: flex;
}
.goods_page .goods_slider {
  width: 80%;
}
.goods_page .goods_slider .goods_img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.goods_page .goods_slider img {
  width: 100%;
  object-fit: cover;
}
.goods_page .goods_slider .fa-angle-right,
.goods_page .goods_slider .fa-angle-left {
  position: absolute;
  font-size: 35px;
  z-index: 10;
  top: 45%;
}
.goods_page .goods_slider .fa-angle-right {
  right: 2%;
}
.goods_page .goods_slider .fa-angle-left {
  left: 2%;
}
.goods_page .mini_slider {
  margin-bottom: -15px;
}
.goods_page .mini_slider .goods_img {
  width: 100px;
  margin-right: 10px;
  padding-bottom: 15px;
}
.goods_page .mini_slider img {
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.goods_page .information {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.goods_page .information p,
.goods_page .information span {
  margin-bottom: 15px;
}
.goods_page .information .name_of_product {
  font-size: 24px;
}
.goods_page .information .brand_of_product {
  font-size: 16px;
}
.goods_page .information .price_and_fav {
  width: 50%;
  margin-bottom: 20px;
}
.goods_page .information .price_and_fav a {
  display: none;
}
.goods_page .information .dropdown {
  width: 50%;
}
.goods_page .information .dropdown span {
  margin-bottom: 0;
}
.goods_page .information .size_table {
  margin-top: 20px;
}
.goods_page .information .size_table a {
  color: #00b1ea;
  border-bottom: 1px solid #00b1ea;
}
.goods_page .information .to_basket {
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goods_page .information .default_button p {
  margin: 0;
}
.goods_page .mob_inf {
  display: none;
}
.goods_presentation {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../img/content/goods_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.goods_presentation .video_pres {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 60px;
}
.goods_presentation .video_player {
  width: 50%;
  position: relative;
}
.goods_presentation .video_player img {
  width: 100%;
  object-fit: cover;
}
.goods_presentation .video_player .open_video {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 70px;
  width: 70px;
  top: 35%;
}
.goods_presentation .video_player .open_video .fa {
  font-size: 24px;
}
.goods_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}
.goods_description .descr_text {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.goods_description .descr_text .name_of_product {
  font-size: 24px;
}
.goods_description .descr_text .subtitle {
  font-size: 16px;
  font-weight: bold;
}
.goods_description .descr_text p {
  margin-bottom: 20px;
}
.goods_description .descr_text span {
  margin-bottom: 35px;
}
.goods_description .descr_img {
  width: 45%;
}
.goods_description .descr_img img {
  width: 100%;
  object-fit: cover;
}
.profile_page {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
}
.profile_page .sidebar_nav {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.profile_page .sidebar_nav .title {
  margin-bottom: 30px;
  text-align: left;
}
.profile_page .profile_navigation li {
  margin-bottom: 10px;
}
.profile_page .profile_navigation a {
  position: relative;
  font-size: 20px;
}
.profile_page .profile_content {
  width: 50%;
  margin-top: 50px;
  flex-direction: column;
  display: flex;
}
.profile_page .profile_content .title {
  text-align: left;
}
.profile_page .profile_content .title p {
  text-transform: none;
  font-size: 26px;
}
.profile_page .currentLink {
  border-bottom: 1px solid #000;
}
.profile_page .number_of_questions {
  position: absolute;
  top: 2px;
  right: -15px;
  width: 15px;
  height: 15px;
  background-color: #CDF89C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_page .number_of_questions p {
  font-size: 12px;
}
.profile_page .profile_form {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.profile_page .input_block {
  width: 47%;
}
.profile_page .socials .title {
  margin-bottom: 10px;
}
.profile_page .additional_inf {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}
.profile_page .additional_inf_block {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 30px;
}
.profile_page .additional_inf_block span {
  font-size: 20px;
}
.profile_page .additional_inf_block .sex {
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile_page .additional_inf_block .active {
  border-bottom: 1px solid #000;
}
.profile_page .additional_inf_block .change_password .default_button {
  min-width: 100%;
}
.profile_page .save_changes {
  max-width: 150px;
  min-width: 150px;
}
.profile_page .profile_orders {
  width: 70%;
}
.profile_page .orders_table {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.profile_page .orders_table .order_description {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.profile_page .orders_table .order_description p {
  position: static;
}
.profile_page .orders_table .prof_order {
  padding: 15px 0;
  background-color: #F2F2F2;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
}
.profile_page .orders_table .order_number {
  color: #05B1E9;
}
.profile_page .profile_sub .default_button {
  margin-top: 50px;
}
.profile_page .subscriptions {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.profile_page .sub {
  flex-direction: column;
  display: flex;
  width: 47%;
}
.profile_page .sub span {
  margin-top: 10px;
  color: #878787;
}
.news_title {
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: 700;
}
.news_brand {
  font-size: 12px;
  color: #999999;
  font-family: "PT Sans";
  font-weight: 700;
}
.main_title {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  background-color: #fff;
  z-index: 4;
}
.main_title .news_title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px 0px;
}
.main_title .news_brand {
  font-size: 14px;
  text-transform: uppercase;
}
.news_page .title {
  display: none;
}
.news_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  align-items: stretch;
  justify-content: space-between;
  grid-row-gap: 30px;
  margin-bottom: 80px;
}
.news_grid .news_item {
  background-color: #F2F3F5;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease all;
}
.news_grid .news_item .news_img {
  width: 100%;
  margin-bottom: 20px;
}
.news_grid .news_item .news_img img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}
.news_grid .news_item .short_info {
  flex-direction: column;
  display: flex;
  padding: 0 25px 15px 25px;
}
.news_grid .news_item p {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.news_grid .news_item span {
  margin-bottom: 15px;
}
.news_grid .news_item .default_button {
  width: 110px;
  min-width: 110px;
  margin-top: 10px;
}
.news_grid .news_item .default_button p {
  margin-bottom: 0;
}
.news_grid .news_item:hover {
  transform: scale(1.05);
}
.article_page {
  flex-direction: column;
  display: flex;
}
.article_page .article {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article_page .title_mob {
  display: none;
}
.article_page .img_and_title {
  width: 100%;
  position: relative;
}
.article_page .img_and_title img {
  width: 100%;
  object-fit: cover;
}
.article_page .article_text {
  margin: 30px 0px 20px 0;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.article_page .article_text p {
  padding-bottom: 20px;
  font-size: 16px;
}
.brands_page {
  flex-direction: column;
  display: flex;
  margin-bottom: 80px;
}
.brands_page .brands_search {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  margin: 20px 0;
}
.brands_page .dropdown {
  display: none;
}
.brands_page .character {
  background-color: #F2F3F5;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
}
.brands_page .character a {
  font-size: 12px;
  font-weight: 500;
}
.brands_page .active {
  background-color: #000;
}
.brands_page .active a {
  color: #F2F3F5;
}
.brands_page .brands_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  justify-content: space-between;
  grid-row-gap: 3%;
}
.feedback_page {
  background-color: #F2F3F5;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.feedback_page .container {
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.feedback_page .feedback_wrap {
  margin: 60px 0;
  justify-content: space-between;
  display: flex;
}
.feedback_page .left {
  width: 35%;
  flex-direction: column;
  display: flex;
}
.feedback_page .name_of_web {
  margin-bottom: 60px;
}
.feedback_page .name_of_web p {
  font-size: 30px;
}
.feedback_page .contacts {
  flex-direction: column;
  display: flex;
}
.feedback_page .contacts p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.feedback_page .contact img {
  margin-right: 10px;
}
.feedback_page .contact span,
.feedback_page .contact a {
  line-height: 24px;
}
.feedback_page .right {
  width: 60%;
  background-color: #fff;
  padding: 30px;
}
.feedback_page .send_feedback {
  font-size: 18px;
  font-weight: bold;
}
.feedback_page .feedback_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.feedback_page .form_block {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.feedback_page .default_input {
  width: 48%;
}
.feedback_page textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.feedback_page .default_button {
  width: 25%;
  min-width: 15%;
  margin-top: 20px;
}
.dashboard_sidebar {
  flex-direction: column;
  display: flex;
}
.dashboard_sidebar .name_of_web {
  margin-bottom: 20px;
}
.dashboard_sidebar li {
  margin-bottom: 15px;
}
.dashboard_sidebar a {
  display: flex;
  align-items: center;
}
.dashboard_sidebar span {
  font-size: 16px;
  font-weight: bold;
}
.dashboard_sidebar .active {
  color: #05B1E9;
}
.dashboard_sidebar img {
  margin-right: 5px;
  width: 25px;
}
.dashboard_sidebar .tag {
  width: 15px;
  margin-left: 5px;
  margin-right: 10px;
}
.dashboard_page {
  flex-direction: column;
  display: flex;
}
.dashboard_main {
  display: grid;
  grid-template-columns: 15% 55% 25%;
  justify-content: space-between;
}
.dashboard_main .name_of_web {
  margin: 20px 0;
  width: 100%;
}
.dashboard_main .main_information {
  flex-direction: column;
  width: 100%;
  display: flex;
}
.dashboard_main .today_data {
  display: grid;
  width: 100%;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}
.dashboard_main .data_block {
  height: 55px;
  align-items: center;
  display: flex;
  margin-bottom: 6px;
}
.dashboard_main .data_block p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}
.dashboard_main .blue {
  background-color: #BDFFF3;
}
.dashboard_main .green {
  background-color: #B6FFBA;
}
.dashboard_main .pink {
  background-color: #FFDAD9;
}
.dashboard_main .orange {
  background-color: #FFE7DA;
}
.dashboard_main .inf_block {
  width: 100%;
  flex-direction: column;
  display: flex;
}
.dashboard_main .inf_block span {
  font-weight: bold;
  margin-bottom: 20px;
}
.dashboard_main .inf_block .order_description {
  justify-content: space-between;
  display: flex;
}
.dashboard_main .inf_block .order_description p {
  position: static;
  font-weight: bold;
}
.dashboard_main .inf_block .purchase .all_information {
  justify-content: space-between;
}
.dashboard_main .inf_block .purchase .main_desc {
  width: 80%;
}
.dashboard_main .inf_block .purchase .information_block p {
  display: none;
}
.dashboard_main .inf_block .purchase .information_block .name_of_product {
  display: block;
}
.dashboard_main .inf_block .purchase .delete,
.dashboard_main .inf_block .purchase .quantity_block,
.dashboard_main .inf_block .purchase .price_of_product,
.dashboard_main .inf_block .purchase .summ_block {
  display: none;
}
.dashboard_main .inf_block .purchase .views {
  text-align: right;
  width: 20%;
  display: block;
}
.dashboard_main .general_summary {
  width: 70%;
  flex-direction: column;
  display: flex;
}
.dashboard_main .calendar {
  position: relative;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
}
.dashboard_main .calendar img {
  position: absolute;
  right: 10px;
}
.dashboard_main .general_info {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
