// "out": "../css/adaptive.css", "sourcemap": false, "compress": true, "autoprefixer": true
.container{
  @media (min-width: 2000px) and (max-width: 2660px){
      width: 50%;
  }
  @media (min-width: 1800px) and (max-width: 2000px){
      width: 60%;
  }
  @media   (max-width: 1100px){
      width: 96%;
  }
}
//Burger
.mobile_menu{
  @media (max-width: 560px){
    display: flex;
    padding-right: 10px;
  }
}
//SETTINGS
.product{
  @media   (max-width: 550px){
    justify-content: center;
    align-items: center;
    .name{
      font-size: 14px;
    }
    .brand{
      font-size: 10px;
    }
    .description{
      font-size: 10px;
    }
    .price{
      font-size: 16px;
    }
  }
}


// MAIN STYLES
// header
.header{
  // left elements
  .left{
    @media (max-width: 900px){
        width: 100%;
    }
    @media (max-width: 560px){
        width: 70%;
        .up{
          align-items: flex-start;
        }
        // information
        .down{
          display: none;
        }
        // logo
        .logo{
          order: 2;
          width: 50%;
        }
        // search
        .search{
          order: 1;
          width: 10%;
          input{
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            width: 220px;
            }
          }
        .fa{
          font-size: 20px;
          top: 0;
        }
      }
    }
  // for him/ for her
  .choice{
    @media (max-width: 1300px){
        width: 30%;
    }
    @media (max-width: 560px){
      display: none;
    }
  }
  // right elem
  .right{
    @media (max-width: 900px){
      width: 100%;
      margin-top: 30px;
      align-items: flex-end;
      .down{
        width: 20%;
      }
      .personal_area{
        width: 100%;
      }
      .up{
        width: 50%;
      }
    }
    @media (max-width: 650px){
      margin-top: 15px;
    }
     @media (max-width: 560px){
       width: 20%;
       margin: 0;
      .up{
         display: none;
       }
       .down{
         width: 100%;
       }
       .personal_area{
         margin: 0;
       }
       .user{
         display: none;
       }
     }
  }
}

// Footer
.footer{
  @media (max-width: 500px){
    width: 85%;
  }
  .inf{
    @media (max-width: 1200px){
        width: 100%;
        margin-top: 30px;
    }
    @media (max-width: 950px){
      grid-template-columns: 1fr 1fr ;
      grid-row-gap: 30px;
    }
    @media (max-width: 560px){
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }
}
.agreement{
  @media (max-width: 400px){
    p,a{
      font-size: 9px;
    }
  }
}

// MAIN
// ВТОРОЙ БЛОК
.second{
  @media (max-width: 1000px){
    .shop_info{
      margin-top: 20px;
    }
    .arrow_1, .arrow_2{
      width: 100px;
    }
  }
  @media (max-width: 800px){
    .video{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo{
      top: 5%;
    }
    a{
      z-index: 4;
    }
  }
  @media (max-width: 650px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .shop_info{
      width: 90%;
      order:2;
      p{
        display: none;
      }
    }
    .video{
      width: 100%;
      order:1;
      flex-direction: column;
      .shop_info_mob{
        text-align: center;
        display: block;
        margin-bottom: 40px;
      }
      .logo{
        left: inherit;
        top: 12%;
      }
      a{
        top: 45%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      .arrow_1{
        top: -25%;
        left: 0%;
        width: 70px;
      }
      .arrow_2{
        top: -24%;
        left: inherit;
        width: 70px;
        right: 0;
        transform: rotate(176deg);
      }
    }
  }
}
// ТРЕТИЙ БЛОК - НОВИНКИ
// ПЯТЫЙ БЛОК - ВЫБОР Shopogasm
// CЕДЬМОЙ БЛОК - ПОПУЛЯРНЫЕ ТОВАРЫ
.third, .fifth, .seventh{
  @media (max-width: 730px){
    .new_products{
      grid-template-columns: repeat(3, 30%);
      grid-row-gap:30px;
    }
  }
  @media (max-width: 550px){
    .new_products{
      grid-template-columns: repeat(2, 48%);
      grid-row-gap:30px;
    }
  }
}
// ЧЕТВËРТЫ БЛОК - НОВОСТИ
.fourth{
  @media (max-width: 800px){
    .new_products{
      grid-template-columns: repeat(3, 30%);
      grid-row-gap:30px;
    }
  }
}
