// "out": "../css/adaptive.css", "sourceMap": false, "compress": false, "autoprefixer": false
.container{
  @media (min-width: 2000px) and (max-width: 2660px){
      width: 50%;
  }
  @media (min-width: 1800px) and (max-width: 2000px){
      width: 60%;
  }
  @media   (max-width: 1100px){
      width: 96%;
  }
  @media   (max-width: 768px){
      width: 92%;
  }
}
// Медиазапросы отдельных блоков
// product
.product{
  @media   (max-width: 550px){
    justify-content: center;
    align-items: center;
    .name{
      font-size: 14px;
    }
    .brand{
      font-size: 10px;
    }
    .description{
      font-size: 10px;
    }
    .price{
      font-size: 16px;
    }
  }
}
// news
.news{
  @media   (max-width: 800px){
    p{
      font-size: 12px;
    }
  }
}
// question container
.question{
  @media (max-width: 850px){
    form{
      width: 60%;
    }
    .connection{
      width: 80%;
    }
  }
  @media (max-width: 550px){
    background-image: url(../img/content/question-background-mob.png);
    form{
      flex-direction: column;
      width: 85%;
      input, button{
        width: 100%;
        margin-top: 20px;
      }
    }
    .connection{
      width: 85%;
    }
  }
}
// registration form
.registration{
  @media (max-width: 1200px){
    .form{
      width: 40%;
    }
  }
  @media (max-width: 768px){
    .form{
      width: 60%;
    }
  }
  @media (max-width: 550px){
    .form{
      width: 85%;
    }
    span{
      font-size: 30px;
    }
    .action_button{
      width: 100%;
    }
    .create_acc{
      flex-direction: column;
      p{
        margin-bottom: 10px;
      }
    }
  }
}
// линейка товаров - гриды

// ТРЕТИЙ БЛОК - НОВИНКИ
// ПЯТЫЙ БЛОК - ВЫБОР Shopogasm
// CЕДЬМОЙ БЛОК - ПОПУЛЯРНЫЕ ТОВАРЫ
// СТРАНИЦА КАТЕГОРИИ - РЕКОМЕНДАЦИИ
.products{
  @media (max-width: 768px){
    grid-template-columns: repeat(3, 30%);
    grid-row-gap:30px;
  }
  @media (max-width: 550px){
      grid-template-columns: repeat(2, 48%);
      grid-row-gap:30px;
  }
}
// MAIN STYLES
// header
//Burger
.mobile_menu{
  @media (max-width: 560px){
    display: flex;
  }
}
.header{
  // left elements
  .left{
    @media (max-width: 900px){
        width: 100%;
    }
    @media (max-width: 560px){
        width: 70%;
        // information
        .down{
          display: none;
        }
        // logo
        .logo{
          order: 2;
          width: 60%;
        }
        // search
        .search_mobile{
          display: block;
          order: 1;
          width: 30%;
          background-color: inherit;
        }
        .search{
          width: 100%;
          display: none;
          position: absolute;
          top: 60px;
          left: 0;
          padding: 10px;
          background-color: #fff;
          .search_btn{
            display: none;
          }
          input{
            width: 70%;
          }
          .action_button{
            display: block;
          }
        }
        .fa{
          font-size: 18px;
          top: 0;
        }
      }
    }
  // for him/ for her
  .choice{
    @media (max-width: 1300px){
        width: 30%;
    }
    @media (max-width: 560px){
      display: none;
    }
  }
  // right elem
  .right{
    @media (max-width: 900px){
      width: 100%;
      margin-top: 30px;
      align-items: flex-end;
      .down{
        width: 20%;
      }
      .personal_area{
        width: 100%;
      }
      .up{
        width: 50%;
      }
    }
    @media (max-width: 650px){
      margin-top: 15px;
    }
     @media (max-width: 560px){
       width: 20%;
       margin: 0;
      .up{
         display: none;
       }
       .down{
         width: 100%;
       }
       .personal_area{
         margin: 0;
       }
       .user{
         display: none;
       }
     }
  }
}

// Footer
.footer{
  @media (max-width: 500px){
    width: 85%;
  }
  .inf{
    @media (max-width: 1200px){
        width: 100%;
        margin-top: 30px;
    }
    @media (max-width: 950px){
      grid-template-columns: 1fr 1fr ;
      grid-row-gap: 30px;
    }
    @media (max-width: 560px){
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }
}
.agreement{
  @media (max-width: 400px){
    p,a{
      font-size: 9px;
    }
  }
}

// MAIN
// ПЕРВЫЙ БЛОК СЛАЙДЕР
.slider{
  @media (max-width: 1250px){
    .slide .img_slide{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        object-fit: fill;
        width: auto;
      }
    }
    .slide .slide_info .info_wrap{
      width: 35%;
      .slide_number{
        left: -10%;
      }
    }
    .slick-dots{
      right: 10%;
    }
  }
  //mobile slider
  @media (max-width: 768px){
    background-color: #EBEEF0;
    .slide .img_slide{
      display: none;
    }
    // static position
    .slide .slide_info {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      position: static;
      padding: 80px 0 100px 0;
      // all information
      .info_wrap{
        width: 45%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        // for number
        .slide_number{
           top: -15%;
           left: 0;
           right: 0;
           margin-left: auto;
           margin-right: auto;
           text-align: center;
         }
      }
      // brand name
      .name{
        text-align: center;
        font-size: 30px;
      }
      // video of brand
      .video{
        flex-direction: column;
        width: 65%;
        .video_img{
          width: 100%;
        }
        a{
          left: inherit;
        }
        .video_text{
          width: 100%;
        }
        p{
          padding: 10px 5px;
          text-align: center;
          width: 100%;
        }
      }
      // buttons
      .actions{
        flex-direction: column;
        button{
          width: 100%;
          margin-top: 15px;
        }
      }
    }
    //arrows
    .fa-angle-right, .fa-angle-left{
      position: absolute;
      bottom: 30px;
      font-size: 35px;
      z-index: 10;
    }
    .fa-angle-right{
      right: 35%;
    }
    .fa-angle-left{
      left: 35%;
    }
  }
  @media (max-width: 600px){
      .slide .slide_info .info_wrap{
      width: 60%;
    }
  }
  @media (max-width: 450px){
      .slide .slide_info .info_wrap{
      width: 85%;
    }
  }
}
// ВТОРОЙ БЛОК
.second{
  @media (max-width: 1000px){
    .shop_info{
      margin-top: 20px;
    }
    .arrow_1, .arrow_2{
      width: 100px;
    }
  }
  @media (max-width: 800px){
    .video{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo{
      top: 5%;
    }
    a{
      z-index: 4;
    }
  }
  @media (max-width: 650px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .shop_info{
      width: 90%;
      order:2;
      p{
        display: none;
      }
    }
    .video{
      width: 100%;
      order:1;
      flex-direction: column;
      .shop_info_mob{
        text-align: center;
        display: block;
        margin-bottom: 40px;
      }
      .logo{
        left: inherit;
        top: 12%;
      }
      a{
        top: 45%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      .arrow_1{
        top: -25%;
        left: 0%;
        width: 70px;
      }
      .arrow_2{
        top: -24%;
        left: inherit;
        width: 70px;
        right: 0;
        transform: rotate(176deg);
      }
    }
  }
}
// ЧЕТВËРТЫ БЛОК - НОВОСТИ
.fourth{
  @media (max-width: 650px){
    .container{
      .trends{
        grid-template-columns: repeat(2, 48%);
        grid-row-gap:30px;
      }
    }
  }
  @media (max-width: 450px){
    background-image: url(../img/content/news-background.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
    .container{
      .trends{
        grid-template-columns: 80%;
        justify-content: center;
        align-items: center;
        grid-row-gap:30px;
      }
    }
  }
}
// ШЕСТОЙ - БАННЕРЫ
.six{
  @media (max-width: 950px){
    a{
      p{
        font-size: 18px;
      }
    }
  }
  @media (max-width: 750px){
    width: 60%;
    display: grid;
    grid-template-areas: "up up up"
                         "down down down"
                         "big_banner big_banner big_banner";
    grid-template-columns: repeat(3, 32%, 30%, 30%);
    grid-template-rows: repeat(3, 1fr);
    .big_banner{
      .block_down{
        top: 73%;
        right: 37%;
      }
      .text_down{
        top: 71%;
        right: 40%;
      }
    }
  }
  @media (max-width: 600px){
    width: 94%;
    display: grid;
    grid-template-areas: "up up up"
                         "down down down"
                         "big_banner big_banner big_banner";
    grid-template-columns: repeat(3, 32%, 30%, 30%);
    grid-template-rows: repeat(3, 1fr);
    .big_banner{
      .block_down{
        top: 75%;
        right: 37%;
      }
      .text_down{
        top: 73%;
        right: 40%;
      }
    }
    img{
      max-height: 200px;
    }
  }
}

// СТРАНИЦА КАТАЛОГА
.catalog_page{
  @media (max-width: 768px){
    .name_and_filter{
      .name{
        width: 60%;
      }
      .dropdown{
        width: 35%;
      }
    }
    .catalog_and_filters {
      grid-template-columns: 30% 65%;
      .catalog{
        grid-template-columns: repeat(2, 46%);
      }
    }
    .recomendations_and_viewed{
      .actions{
        flex-direction: column;
        width: 65%;
        button{
          margin-top: 20px;
        }
      }
    }
  }
  @media (max-width: 550px){
    .name_and_filter{
      .name{
        width: 100%;
      }
      .dropdown{
        display: none;
      }
    }
    .catalog_and_filters{
      grid-template-columns: 100%;
      grid-row-gap: 50px;
      .filters{
        .filter_actions{
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
      .filter_button{
        max-width: 45%;
        min-width: 45%;
        display: block;
        p{
          text-transform: capitalize;
          font-size: 12px;
        }
      }
      .dropdown_mob{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        width: 50%;
        .custom-select{
          width: 100%;
        }
        .custom-select__trigger{
          height: 44px;
        }
      }
      .all_filters{
        border: 1px solid #878787;
        width: 100%;
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px;
        padding-bottom: 40px;
        background-color: #fff;
        z-index: 6;
      }
    // catalog
      .catalog{
        grid-template-columns: repeat(2, 48%);
        margin-bottom: 30px;
      }
    }
    .show_more{
        display: flex;
        width: 100%;
        align-self: flex-end;
        display: -webkit-flex;
        display: -ms-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        .action_button{
          min-width: 75%;
        }
      }
    .recomendations_and_viewed{
      .actions{
        flex-direction: column;
        width: 80%;
      }
    }
  }
}
