// "out": "../css/style.css", "sourceMap": false, "compress": false, "autoprefixer": false
// MAIN STYLES OF WEBSITE
* {
  box-sizing: border-box;
}
// colors
@dark_grey: #878787;
@light_grey: #F2F3F5;
@blue: #05B1E9;

.blue{
  background-color: #BDFFF3;
}
.green{
  background-color: #B6FFBA;
}
.pink{
  background-color: #FFDAD9;
}
.orange{
  background-color: #FFE7DA;
}
.red{
  background-color: #FF365C;
}
.grey{
  background-color: @dark_grey;
}
body,
main {
  width: 100%;
  font-family: "Jost", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.container {
  width: 80%;
}
a,
a:focus,
a:hover {
  outline: none;
}
// inputs styles
input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.default_input, textarea {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
  font-family: "Arial", sans-serif;
}
textarea{
  height:100px;
  resize: none;
}
.default_input::placeholder {
  font-size: 12px;
}
textarea::placeholder{
  font-size: 14px;
  font-family: "Jost";
}
// forms styles
.reg_form, .default_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  .input_block{
    flex-direction: column;
    display: flex;
  }
  // label, input, button style
  label {
    font-size: 14px;
    margin-bottom: 10px;
    color: #8C8C8C;
  }
  input {
    margin-bottom: 10px;
  }
}
// Enter through social websites block
.socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .go_through_soc {
    display: flex;
  }
  a {
    margin-right: 20px;
  }
  a:hover{
    .fa{
      color: @blue;
    }
  }
  .fa {
    font-size: 35px;
    transition: all ease 0.3s;
  }
}
// Buttons style
.default_button{
  min-width: 200px;
  background-color: inherit;
  padding: 12px 0;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.3s ease all;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  // без дёрганий текста
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  // предупреждение
  will-change: transform;
}
.default_button:hover{
  transform: scale(1.05);
}
// black button
.black_button {
  background-color: #000000;
}
.black_button:hover{
  background-color: @blue;
}
// button without bachkground
.inherit_button {
  background-color: inherit;
  border: 2px solid #000;
  color: #000;
}
.inherit_button:hover{
  background-color: #000;
  color: #fff;
}
// nonactive button - inherit
.nonactive_button {
  background-color: inherit;
  font-weight: bold;
  color: #999999;
}
// active button - active (grey)
.active_button {
  background-color: @light_grey;
  padding: 12px 10px;
  font-weight: bold;
  color: #000;
}
// button for videoplayer
.open_video {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 14.5px rgba(0,0,0,0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.3s ease;
  .fa {
    color: @blue;
  }
}
.open_video:hover {
  transform: scale(1.1);
}
// name of web page
.name_of_web {
  width: 50%;
  p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
//
.quantity_and_summ{
  display: flex;
  p, span{
    font-size: 12px;
    font-weight: bold;
  }
}
//search form
.search {
  width: 40%;
  position: relative;
  form {
    width: 100%;
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 5px 10px;
    z-index: 5;
  }
  input::placeholder {
    font-size: 12px;
  }
  .desktop_btn, .clear_btn{
    cursor: pointer;
    background-color: inherit;
    position: absolute;
    right: 7px;
    z-index: 10;
  }
  // .clear_btn{
  //   display: none;
  // }
  .fa-times:before{
    color:#606262;
  }
  .default_button {
    display: none;
    min-width: 30%;
    height: 30px;
    p {
      font-size: 10px;
    }
  }
}
// dropdown STYLE
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 10;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #E6E6E6;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 12px;
  color: #000;
  height: 40px;
  line-height: 35px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #E6E6E6;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #E6E6E6;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: @light_grey;
}

.custom-option.selected {
  color: #000;
  background-color: @light_grey;
}
// dropdown arrow
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: #000;
}

.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background-color: #000;
}

.open .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
}
// range slider
.polzunok-container {
  position: relative;

  .high,
  .low {
    position: absolute;
    bottom: -34px;
    font-size: 12px;
    font-weight: 500;
  }
  .low {
    left: 0;
  }
  .high {
    right: 0;
  }
}
// UI search menu
.ui-menu .ui-menu-item{
  background-color: #fff;
}
.ui-menu .ui-menu-item:hover{
  background-color: @light_grey !important;
  border-color: inherit !important;
}
.ui-widget.ui-widget-content{
  border: 1px solid @light_grey;
}
.ui-menu .ui-menu-item-wrapper{
  border: 0;
  padding: 10px;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  background-color: #fff;
}
.ui-menu .ui-menu-item-wrapper:hover{
  border: 0 !important;
  cursor: pointer;
  background-color: @light_grey !important;
  border-color: inherit !important;
}

// up block order
.order_description{
  margin-top: 30px;
  display: flex;
  width: 100%;
  position: relative;
  p{
    color: #BCBCBC;
    position: absolute;
  }
  .price{
    left: 50%;
  }
  .quantity{
    left: 70%;
  }
  .amount{
    left: 90%;
  }
}
// total amount
.total{
  margin-right: 5%;
  align-self: flex-end;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  p{
    font-size: 18px;
    font-weight: bold;
  }
  .actions{
    display: flex;
    justify-content: space-between;
  }
  button{
    p{
      font-size: 14px;
      font-weight: normal;
    }
  }
  .favorites{
    width: 50%;
  }
  .order{
    width: 40%;
  }
}
// card
.card{
  height: 44px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease all;
  img{
    margin-right: 15px;
  }
}
.card:hover{
  transform:scale(1.05);
}
.yandex{
  img{
    width: 20px;
  }
}
// offer
.offer{
  width: 50%;
  p{
    font-size: 12px;
  }
  a{
    border-bottom: 1px solid #000;
  }
}
// like icon
.add_to_fav{
  .fa{
    font-size: 30px;
    color: @blue;
  }
}
// slider range
.polzunok-container:after {
  content: "";
  clear: both;
  display: table;
}
// range - разница
.polzunok-container .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 3px;
  border: 0;
  background-color: #05B1EA;
}
// полоска ползунка
.polzunok-container .ui-slider {
  position: relative;
  background: #E6E6E6;
  height: 2px;
}
// inputs
.polzunok-container .ui-slider .ui-slider-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: #FFF;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}

.polzunok-container .ui-slider .ui-slider-handle:focus,
.polzunok-container .ui-slider .ui-slider-handle:hover {
  transform: scale(1.1);
}

.polzunok-input-5-left,
.polzunok-input-5-right {
  width: 40px;
  background: none;
  position: absolute;
  left: -5px;
  margin-top: 10px;
}
// input text
.ui-widget input {
  font-size: 12px !important;
  font-family: "Jost" !important;
}
// grey line
.grey_line {
  width: 100%;
  height: 2px;
  background-color: #E6E6E6;
  margin: 25px 0;
}
//navigation
.navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .nav {
    display: flex;
    a {
      color: #BCBCBC;
    }
  }
}
// grid products
.products {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(4, 24%);
  grid-row-gap: 30px;
}
// help container
.question {
  width: 100%;
  background-image: url("../img/content/question-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .help {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-top: 60px;
    margin-bottom: 20px;
    p {
      text-transform: uppercase;
    }
  }
  .connection {
    width: 44%;
    text-align: center;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  a {
    color: red;
  }
  form {
    align-self: center;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 70px;
    input {
      width: 70%;
    }
    button {
      padding: 0;
      width: 30%;
      min-width: inherit;
    }
  }
}
// filter
.filter_status{
  cursor: pointer;
  width: auto;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid @light_grey;
  display: flex;
  span{
    margin-right: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
}
// title style
.title {
  text-align: center;
  margin: 40px 0;
  p {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
// news style - main screen
.fashion_news {
  display: flex;
  flex-direction: column;
  background-color: @light_grey;
  transition: 0.2s all ease;
  cursor: pointer;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 250px;
  }
  p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
  }
}
.fashion_news:hover{
  transform: scale(1.04);
}
// all about shopping block
// the general text
.name_of_product{
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}
.brand_of_product{
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  font-family: "PT Sans";
  font-weight: 700;
}
.price_of_product{
  font-size: 20px;
  font-weight: bold;
}
// product style
.product {
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  transition: all ease 0.2s;
  .go_to_product {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .fa {
    z-index: 5;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: @blue;
  }
  img {
    transition: all ease 0.2s;
    width: 100%;
    object-fit: cover;
    max-height: 300px;
  }
  .hide_picture{
    transition: all ease 0.2s;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
  span {
    margin-top: 5px;
  }
  .description {
    font-size: 12px;
  }
}
.product:hover{
  img{
    transform: scale(1.04);
  }
  .hide_picture{
    transform: scale(1.04);
    opacity: 1;
  }
}
.brand{
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  display: flex;
  border: 2px solid @light_grey;
  .brand_logo{
    margin: 20px 0;
    align-self: center;
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100px;
  }
  img{
    width: 100%;
  }
  .brand_name{
    font-size: 18px;
    line-height: 54px;
    color: #060606;
    font-weight: 700;
    font-family: "PT Sans";
  }
  .rating{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  span{
    font-size: 12px;
  }
  .stars{
    display: flex;
  }
  .fa-star{
    font-style: 15px;
    color: @light_grey;
  }
  .active_star{
    color: @blue;
  }
}
//quantity_block
.quantity_block{
  display: flex;
  position: absolute;
  left: 70%;
  input{
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
  }
  .operations{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 25px;
  }
  .operation{
    height: 25px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-left: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
  }
  .plus{
    border-bottom: none;
  }
}
// purchase STYLE
.purchase{
  display: flex;
  width: 100%;
  flex-direction: column;
  .pretty{
    display: none;
    margin-right: 25px;
  }
  .all_information{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
  }
  // desc with photo
  .main_desc{
    align-items: center;
    display: flex;
    position: relative;
    .count{
      position: absolute;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      top: -5px;
      left: 31%;
      background-color: @blue;
      align-items: center;
      justify-content: center;
      display: none;
      p{
        color:#fff;
        font-size: 10px;
      }
    }
    img{
      width: 100px;
      object-fit: cover;
      margin-right: 40px;
    }
    .information_block{
      display: flex;
      flex-direction: column;
    }
    .name_of_product{
      margin: 5px 0 10px 0;
    }
    .size_of_product, .delivery, .sku{
      font-size: 12px;
    }
    .sku{
      display: none;
    }
  }
  .stocks{
    display: none;
  }
  .category{
    display: none;
  }
  // price
  .price_block{
    position: absolute;
    left: 50%;
  }
  .quantity_final{
    display: none;
  }
  .quantity_and_summ{
    display: none;
  }
  .views{
    display: none;
  }
  // summ block_u
  .summ_block{
    position: absolute;
    left: 90%;
    display: flex;
    span{
      font-size: 20px;
      font-weight: bold;
    }
  }
  .delete{
    position: absolute;
    left: 98%;
    cursor: pointer;
  }
}
// question block
.question_block{
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  background-color: @light_grey;
  margin-bottom: 20px;
  align-items: center;
  .question_text{
    flex-direction: column;
    display: flex;
    width: 50%;
    p{
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 10px;
    }
    span{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow-y: hidden;
    }
  }
  .default_button{
    min-width: 130px;
    width: 130px;
  }
}
// filter STYLE
.filter {
  display: flex;
  width: 100%;
  flex-direction: column;
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 20px;
  }
  .subcategory {
    margin-top: 20px;
    margin-left: 20px;
  }
}
// for brands and dashboard
.character{
  background-color: @light_grey;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  a{
    font-size: 12px;
    font-weight: 500;
  }
}
// Popup
// main settings of popup
.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
}

.overlay.open {
    opacity: 1;
    pointer-events: inherit;
    z-index:300;
}

.overlay .modal {
    background: white;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: hidden;
}

.overlay .modal.open {
    opacity: 1;
    pointer-events: inherit;
    overflow-y: scroll;
}

.overlay .modal.open .content {
    transform: translate(0, 0px);
    opacity: 1;
}

.overlay .modal .content {
    transform: translate(0, -10px);
    opacity: 0;
    transition: .35s ease-in-out;
}
// popup content for orders
.modal{
  width: 70%;
  padding: 20px 30px;
  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    position: relative;
    .close-modal{
      cursor: pointer;
      font-size: 25px;
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: 0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .orders_information{
    overflow-y: scroll;
    width: 100%;
  }
  .purchase{
    margin-bottom: 20px;
  }
  .quantity_and_summ{
    position: absolute;
    left: 70%;
    display: flex;
  }
  .purchase .main_desc .information_block{
    align-items: flex-start;
  }
}
// Burger
.mobile_menu {
  cursor: pointer;
  width: 25px;
  display: none;
  flex-direction: column;
  .burg {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 4px;
    box-sizing: border-box;
  }
  .burg:last-child {
    margin-bottom: 0;
  }
}
// mobile menu
.mobile {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 250;
  transition: all 0.35s;
  .close_mob_menu {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
  }
  .wrap {
    box-sizing: border-box;
    padding-top: 50px;
    width: 250px;
    height: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: flex-start;
    float: left;
  }
  .links {
    display: flex;
    flex-direction: column;
    a {
      line-height: 7px;
      color: #000000;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
// active
.active {
  left: 0;
}
// blur around
.blur {
  filter: blur(4px);
}
footer,
header {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
// HEADER
header {
  z-index: 15;
}
.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  // LEFT
  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    .down,
    .up {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .logo {
    width: 20%;
    display: flex;
    img {
      width: 100%;
    }
  }
  // for him/ for her
  .choice {
    width: 25%;
    display: flex;
    justify-content: space-between;
    a{
      cursor: pointer;
      text-transform: uppercase;
      line-height: 10px;
      color: #000000;
      font-weight: bold;
      transition: all ease 0.5s;
      position: relative;
    }
    a:after {
    	display: block;
    	position: absolute;
    	left: 0;
      bottom: -6px;
      width: 0;
    	height: 2px;
    	background-color: #000;
    	content: "";
    	transition: width 0.3s ease-out;
    }
    a:hover:after,
    a:focus:after{
      width: 100%;
    }
  }
  // search icon mobile
  .search_btn {
    .fa-search:before {
      color: #606262;
    }
  }
  .search_mobile {
    display: none;
  }
  // links
  .links {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      line-height: 7px;
      color: #000000;
      font-size: 16px;
    }
  }
  .menu_category{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px 0;
    overflow: hidden;
    .container{
      display: flex;
      max-height: 350px;
      overflow-y: scroll;
    }
    .container::-webkit-scrollbar { width: 0; }
    .container{ -ms-overflow-style: none;
                overflow: -moz-scrollbars-none;
              }
    nav{
      width: 70%;
    }
    .photo{
      width: 30%;
    }
    .columns{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 32%);
      justify-content: space-between;
    }
    .column{
      display: flex;
      flex-direction: column;
    }
    .col_category{
      height: 20px;
      margin: 10px 0;
      font-size: 16px;
    }
    li{
      margin-bottom: 10px;
    }
    .category_link{
      color:@dark_grey;
      position: relative;
    }
    .category_link:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 1px;
      background-color: @dark_grey;
      content: "";
      transition: width 0.3s ease-out;
    }
    .category_link:hover:after,
    .category_link:focus:after{
      width: 100%;
    }
    img{
      width: 100%;
      object-fit: contain;
    }
    .short_desc{
      font-size: 12px;
    }
    .new_dress{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      font-family: "PT Sans";
      margin: 10px 0;
    }
  }
  // RIGHT
  .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    .down,
    .up {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .information {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      a {
        position: relative;
        font-size: 12px;
        line-height: 7px;
        color: #878787;
        font-weight: 500;
      }
      a:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 1px;
        background-color: #878787;
        content: "";
        transition: width 0.3s ease-out;
      }
      a:hover:after,
      a:focus:after{
        width: 100%;
      }
    }
    .down {
      justify-content: flex-end;
    }
    .personal_area {
      margin-top: 25px;
      display: flex;
      width: 28%;
      justify-content: space-between;
    }
    .fa{
      color: #606262;
      font-size: 20px;
      transition: all 0.2s ease;
    }
    .fa:hover{
      color: @blue;
    }
    .basket {
      position: relative;
    }
    .counter {
      position: absolute;
      bottom: -5px;
      right: -2px;
      width: 15px;
      height: 15px;
      border-radius: 8px;
      background-color: #00b1ea;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 11px;
        line-height: 21px;
        color: #ffffff;
        font-family: "Montserrat";
        font-weight: 500;
      }
    }
    .basket:hover{
      .counter{
        background-color: #000;
      }
    }
  }
}
.headerMargin {
  z-index: 2;
  width: 100%;
}
// FOOTER
footer {
  z-index: 5;
  position: static;
  background-color: @light_grey;
  flex-direction: column;
}

.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .logo{
    width: 20%;
  }
  nav{
    width: 55%;
  }
  .inf {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
  .subtitle {
    font-weight: 500;
    margin-bottom: 20px;
  }
  ul {
    a {
      font-size: 12px;
      line-height: 24px;
      color: #545454;
      position: relative;
      transition: all 0.1s ease;
    }
    a:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 1px;
      background-color: #545454;
      content: "";
      transition: width 0.3s ease-out;
    }
    a:hover{
      font-weight: bold;
    }
    a:hover:after,
    a:focus:after{
      width: 100%;
    }
  }
  .links {
    display: flex;
    margin-top: 20px;
    .fa {
      font-size: 25px;
    }
    .insta_link {
      margin-right: 20px;
    }
  }
  .instagram{
    width: 25%;
  }
  .photo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
}
// Footer agreement
.agreement {
  width: 100%;
  background-color: #ECEDF0;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  a,
  p {
    font-size: 11px;
    color: #878787;
    font-weight: bold;
  }
  a {
    border-bottom: 1px solid #878787;
  }
}
// ГЛАВНАЯ
// ПЕРВЫЙ БЛОК - СЛАЙДЕР

.main_slider {
  display: block;
  width: 100%;
  // main SETTINGS
  .slick-dots {
    transform: rotate(90deg);
    width: auto;
    right: 20%;
    bottom: 50%;
  }
  .slick-dots li button:before {
    font-size: 8px;
  }
  .slick-dots .slick-active button:before {
    font-size: 10px;
  }
  .desktop_arrow{
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 10;
  }
  .arrow_next{
    right: 22%;
  }
  .arrow_prev{
    right: 27%;
  }
  .slide {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img_slide {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: contain;
      z-index: 2;
    }
    .slide_info {
      position: absolute;
      z-index: 3;
    }
    .info_wrap {
      width: 25%;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .slide_number {
      z-index: -1;
      position: absolute;
      top: -20%;
      left: -25%;
      font-size: 127px;
      color: #F4F6F7;
      font-family: "Montserrat";
      font-weight: 500;
    }
    .name {
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .from {
      font-size: 16px;
    }
    .video {
      margin: 30px 0;
      width: 100%;
      position: relative;
      display: flex;
      background-color: #fff;
      align-items: center;
      justify-content: flex-start;
      a {
        box-shadow: 0 0 4px rgba(0,0,0,0.21);
        position: absolute;
        top: 30%;
        left: 25%;
        height: 30px;
        width: 30px;
        .fa {
          font-size: 10px;
        }
      }
      .video_img {
        display: block;
        img {
          display: block;
          width: 100%;
          object-fit: contain;
        }
      }
      .video_text {
        width: 60%;
        display: flex;
        align-items: center;
        p {
          width: 50%;
          font-size: 14px;
          font-weight: bold;
          padding-left: 30px;
        }
      }
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    button {
      min-width: 45%;
    }
  }
}
// ВТОРОЙ БЛОК - ИНФОРМАЦИЯ
.second {
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  //align-items: center;
  .shop_info {
    z-index: 3;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  p {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
  }
  span {
    width: 100%;
    margin-top: 20px;
  }
  .video {
    width: 50%;
    position: relative;
    .shop_info_mob {
      display: none;
    }
  }
  .macbook {
    z-index: 4;
    width: 100%;
  }
  .logo {
    width: 80%;
    position: absolute;
    top: -15%;
    left: 5%;
    z-index: -1;
  }
  .arrow_1 {
    transform: rotate(80deg);
    position: absolute;
    top: -10%;
    left: -20%;
  }
  .arrow_2 {
    position: absolute;
    top: 55%;
    left: -25%;
  }
  .open_video {
    height: 80px;
    width: 80px;
    left: 0;
    top: 35%;
  }
  .fa {
    font-size: 24px;
  }
}
// ТРЕТИЙ БЛОК - НОВИНКИ
// ПЯТЫЙ БЛОК - ВЫБОР Shopogasm
// CЕДЬМОЙ БЛОК - ПОПУЛЯРНЫЕ ТОВАРЫ
// СТРАНИЦА КАТЕГОРИЙ - РЕКОМЕНДАЦИИ

.grid_general_style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  .default_button {
    margin-top: 40px;
  }
}
// ЧЕТВËРТЫ БЛОК - НОВОСТИ
.fourth {
  width: 100%;
  background-image: url("../img/content/news-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  .container {
    display: flex;
    flex-direction: column;
    .title {
      margin-top: 70px;
    }
    .trends {
      display: grid;
      justify-content: space-between;
      align-items: stretch;
      grid-template-columns: repeat(3, 32%);
      grid-row-gap: 30px;
    }
  }
}
// ШЕСТОЙ - БАННЕРЫ
.six {
  display: grid;
  grid-template-areas: "up big_banner big_banner" "down big_banner big_banner";
  grid-template-columns: repeat(3, 32%, 30%, 30%);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 80px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  a {
    display: flex;
    position: relative;
    transition: all ease 0.5s;
    img {
      transition: all ease 0.4s;
      width: 100%;
      object-fit: cover;
    }
    .hidden{
      opacity: 0;
      position: absolute;
      top: 0;
      left: -20px;
      z-index: 2;
      height: -webkit-fill-available;
      height: fill-available;
    }
    p {
      font-size: 24px;
      font-weight: 800;
      font-style: italic;
      padding: 10px;
    }
  }
  a:hover{
    // transform: scale(1.01);
    .hidden{
      opacity: 1;
      left: 0;
    }
  }
  .text {
    position: absolute;
    z-index: 4;
  }
  //text inside imag
  .down_banner,
  .up_banner {
    // up text
    .block_up {
      width: 100px;
      height: 30px;
      background-color: #fff;
      top: 32%;
      right: 12%;
      z-index: 4;
    }
    .text_up {
      top: 30%;
      right: 9%;
      z-index: 5;
    }
    // down text
    .block_down {
      width: 100px;
      height: 30px;
      background-color: #DEF9FF;
      top: 44%;
      right: 14%;
      z-index: 4;
    }
    .text_down {
      top: 42%;
      right: 11%;
      z-index: 5;
    }
  }
  // up banner settings
  .up_banner {
    grid-area: up;
  }
  // down banner settings
  .down_banner {
    grid-area: down;
    .block_down {
      background-color: #FFE8E8;
    }
    .text_down {
      top: 42%;
      right: 14%;
    }
  }
  // big banner settings
  .big_banner {
    grid-area: big_banner;
    // up text
    .block_up {
      width: 150px;
      height: 30px;
      background-color: #fff;
      top: 64%;
      right: 16%;
    }
    .text_up {
      top: 63%;
      right: 16%;
    }
    // down text
    .block_down {
      width: 80px;
      height: 30px;
      background-color: #FFEFE7;
      top: 70%;
      right: 29%;
    }
    .text_down {
      top: 69%;
      right: 29%;
    }
  }
}
// СТРАНИЦА КАТАЛОГА
.catalog_page {
  display: flex;
  flex-direction: column;
}
.name_and_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  .dropdown {
    width: 20%;
  }
}
.catalog_and_filters {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: 24% 75%;
  // filters
  .filters {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    width: 100%;
    // margin first filter
    .category {
      p {
        margin-top: 20px;
      }
    }
    .filter_actions {
      display: none;
    }
    .search {
      width: 100%;
    }
    .ui-slider-handle {
      border: 1px solid @light_grey;
      display: block;
    }
  }
  // catalog
  .catalog {
    display: grid;
    justify-content: space-between;
    align-items: stretch;
    grid-template-columns:  repeat(3, 32%);
    grid-row-gap: 30px;
    margin-bottom: 70px;
  }
}
.show_more {
  display: none;
}
.recomendations_and_viewed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .actions {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .default_button {
    min-width: auto;
  }
  .products {
    margin-bottom: 80px;
    display: none;
  }
  .item_active{
    display: grid;
  }
}
// СТРАНИЦЫ РЕГИСТРАЦИЙ
.registration_page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 100px 0;
  span {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  // with help
  .create_acc,
  .forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    p {
      font-size: 14px;
    }
    a {
      font-size: 12px;
      color: #06B1EB;
    }
  }
  .default_button {
    margin-top: 20px;
    width: 50%;
    align-self: center;
    p {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}
// КОРЗИНА
.shopping_basket_page{
  display: flex;
  flex-direction: column;
  position: relative;
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .all_shoppings{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  // purchases
  .purchases{
    width: 100%;
    display: flex;
    flex-direction: column;
    .quantity_final{
      display: none;
    }
    .quantity_and_summ{
      display: none;
    }
  }
}
// Оформление заказа
.checkout_page{
  display: flex;
  flex-direction: column;
}
.order_registration{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}
// steps
.step{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 30px;
  .grey_line{
    margin-bottom: 10px;
    height: 4px;
    position: relative
  }
  .round{
    z-index: 3;
    left: 95%;
    top: -5px;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #e6e6e6;
  }
  p{
    font-size: 14px;
    font-weight: bold;
  }
}
// left container of reg
.left_reg{
  width: 50%;
  display: flex;
  flex-direction: column;
  .steps{
    display: flex;
    width: 100%;
  }
  .steps_mob{
    display: none;
  }
  .delivery_step{
    .grey_line{
      background-color: #05B1EA;
    }
  }
  .checkout_form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form_block{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    input{
      margin-bottom: 10px;
    }
    .half{
      width: 49%;
    }
  }
}
// right container of reg
.right_reg{
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
  .order_description{
    .quantity{
      left: 65%;
    }
    .price{
      left: 90%;
    }
  }
  .orders{
    width: 100%;
    display: flex;
    flex-direction: column;
    .purchase{
      .main_desc{
        width: 65%;
        img{
          width: 80px;
          margin-right: 10px;
        }
        .information_block{
          width: 80%;
          p{
            width: 100%;
            display: inline-block;
          }
        }
      }
      .price_block{
        display: none;
      }
      .delete{
        display: none;
      }
      .quantity_block{
        display: none;
      }
      .quantity_final{
        display: block;
        position: absolute;
        left: 70%;
        p{
          font-weight: bold;
        }
      }
      .quantity_and_summ{
        display: none;
      }
      .summ_block{
        left: 86%;
      }
    }
  }
  .total{
    width: 100%;
    position: static;
    margin-right: 0;
  }
}
// checkout -> payment
.payment{
  .payment_step{
    .grey_line{
      background-color: #05B1EA;
    }
  }
  .cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .card{
      width: 49%;
    }
  }
}
// checkout -> confirmation
.confirmation{
  // steps
  .step{
    .grey_line{
      background-color: #05B1EA;
    }
  }
  // steps
  .steps_mob{
    display: none;
  }
  // name
  .name_mob{
    display: none;
  }
  .num_mob{
    display: none;
  }
  .offer_mob{
    display: none;
  }
  .act_mob{
    display: none;
  }
  // order
  .number_of_order{
    width: 100%;
    margin-bottom: 10px;
    p{
      font-size: 18px;
    }
  }
  .form_subtitle{
    margin: 20px 0;
  }
}
// СТРАНИУА ТОВАРА
.goods_page{
  .main_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .sliders{
    width: 50%;
    display: flex;
  }
  .goods_slider{
    width: 80%;
    .goods_img{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    img{
      width: 100%;
      object-fit: cover;
    }
    // arrows
    .fa-angle-right, .fa-angle-left{
      position: absolute;
      font-size: 35px;
      z-index: 10;
      top: 45%;
    }
    .fa-angle-right{
      right: 2%;
    }
    .fa-angle-left{
      left: 2%;
    }
  }
  .mini_slider{
    margin-bottom: -15px;
    .goods_img{
      width: 100px;
      margin-right: 10px;
      padding-bottom: 15px;
    }
    img{
      width: 82px;
      height: 82px;
      object-fit: cover;
    }
  }
  // information
  .information{
    display: flex;
    flex-direction: column;
    width: 45%;
    p, span{
      margin-bottom: 15px;
    }
    .name_of_product{
      font-size: 24px;
    }
    .brand_of_product{
      font-size: 16px;
    }
    .price_and_fav{
      width: 50%;
      margin-bottom: 20px;
      a{
        display: none;
      }
    }
    .dropdown{
      width: 50%;
      span{
        margin-bottom: 0;
      }
    }
    .size_table{
      margin-top: 20px;
      a{
        color: #00b1ea;
        border-bottom: 1px solid #00b1ea;
      }
    }
    .to_basket{
      margin-top: 20px;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .default_button{
      p{
        margin: 0;
      }
    }
  }
  .mob_inf{
    display: none;
  }
}
.goods_presentation{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../img/content/goods_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .video_pres{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 60px;
  }
  .video_player{
    width: 50%;
    position: relative;
    img{
      width: 100%;
      object-fit: cover;
    }
    .open_video{
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      height: 70px;
      width: 70px;
      top: 35%;
      .fa{
        font-size: 24px;
      }
    }
  }
}
.goods_description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
  .descr_text{
    width: 45%;
    display: flex;
    flex-direction: column;
    .name_of_product{
      font-size: 24px;
    }
    .subtitle{
      font-size: 16px;
      font-weight: bold;
    }
    p{
      margin-bottom: 20px;
    }
    span{
      margin-bottom: 35px;
    }
  }
  .descr_img{
    width: 45%;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
}
// ПРОФИЛЬ
// data
.profile_page{
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
  .sidebar_nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    .title{
      margin-bottom: 30px;
      text-align: left;
    }
  }
  // nav
  .profile_navigation{
    li{
      margin-bottom: 10px;
    }
    a{
      position:  relative;
      font-size: 20px;
    }
  }
  .profile_content{
    width: 50%;
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    .title{
      text-align: left;
      p{
        text-transform: none;
        font-size: 26px;
      }
    }
  }
  // current link style
  .currentLink {
   border-bottom: 1px solid #000;
  }
  // question_link
  .number_of_questions{
    position: absolute;
    top: 2px;
    right: -15px;
    width: 15px;
    height: 15px;
    background-color: #CDF89C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 12px;
    }
  }
  // data
  .profile_form{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .input_block{
    width: 47%;
  }
  .socials{
    .title{
      margin-bottom: 10px;
    }
  }
  .additional_inf{
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
  }
  .additional_inf_block{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 30px;
    span{
      font-size:20px;
    }
    // sex of user
    .sex{
      padding: 6px 10px;
      width: 100%;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: space-around;
      input{
        position: absolute !important;
      	clip: rect(0, 0, 0, 0);
      	height: 1px;
      	width: 1px;
      	border: 0;
      	overflow: hidden;
      }
      label:hover {
      	cursor: pointer;
      }
      input:checked + label {
      	border-bottom: 1px solid #000;
      }
    }
    .active{
      border-bottom: 1px solid #000;
    }
    // change_password
    .change_password{
      .default_button{
        min-width: 100%;
      }
      .password_field{
        display: none;
      }
    }
  }
  .save_changes{
    max-width: 150px;
    min-width: 150px;
  }
  // orders_table
  .profile_orders{
    width: 70%;
  }
  .orders_table{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .grey_line{
      display: none;
    }
    .line_viewed{
      display: block;
    }
    .order_description{
      text-align: center;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      p{
        position: static;
      }
    }
    .prof_order{
      .pretty{
        display: none;
      }
      .number_and_name{
        display: none;
      }
      .filter_status{
        display: none;
      }
      padding: 15px 0;
      background-color: #F2F2F2;
      text-align: center;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 10px;
    }
    // number of order
    .order_number{
      color: @blue;
    }
  }
  // subscriptions
  .profile_sub{
    .default_button{
      margin-top: 50px;
    }
  }
  .subscriptions{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }
  .sub{
    flex-direction: column;
    display: flex;
    width: 47%;
    span{
      margin-top: 10px;
      color: @dark_grey;
    }
  }
  // questions table
  .profile_questions{
    width: 70%;
    .title{
      text-align: left;
    }
  }
  .questions_table{
    width: 85%;
    flex-direction: column;
    display: flex;
  }
}
// СТРАНИЦА С НОВОСТЯМИ
.news_title{
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: 700;
}
.news_brand{
  font-size: 12px;
  color: #999999;
  font-family: "PT Sans";
  font-weight: 700;
}
// НА СТРАНИЦЕ НОВОСТИ
.main_title{
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  background-color: #fff;
  z-index: 4;
  .news_title{
    font-size: 24px;
    text-transform: uppercase;
    margin: 10px 0px;
  }
  .news_brand{
    font-size: 14px;
    text-transform: uppercase;
  }
}
.news_page{
  .title{
    display: none;
  }
}
.news_grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  align-items: stretch;
  justify-content: space-between;
  grid-row-gap: 30px;
  margin-bottom: 80px;
  .news_item{
    background-color: @light_grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease all;
    .news_img{
      width: 100%;
      margin-bottom: 20px;
      img{
        max-height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
    .short_info{
      flex-direction: column;
      display: flex;
      padding: 0 25px 15px 25px;
    }
    p{
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    span{
      margin-bottom: 15px;
    }
    .default_button{
      width: 110px;
      min-width: 110px;
      margin-top: 10px;
      p{
        margin-bottom: 0;
      }
    }
  }
  .news_item:hover{
    transform: scale(1.05);
  }
}
// СТРАНИЦА НОВОСТИ

.article_page{
  flex-direction: column;
  display: flex;
  .article{
    align-self: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title_mob{
    display: none;
  }
  .img_and_title{
    width: 100%;
    position: relative;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .article_text{
    margin: 30px 0px 20px 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    p{
      padding-bottom: 20px;
      font-size: 16px;
    }
  }
}
// СТРАНИЦА ДИЗАЙНЕРОВ
.brands_page{
  flex-direction: column;
  display: flex;
  margin-bottom: 80px;
  .brands_search{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 20px 0;
  }
  .dropdown{
    display: none;
  }
  .active{
    background-color: #000;
    a{
      color: @light_grey;
    }
  }
  .brands_grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    grid-row-gap: 3%;
  }
}
// СТРАНИЦА ФИДБЕКА
.feedback_page{
  background-color: @light_grey;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  .container{
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .feedback_wrap{
    margin: 60px 0;
    justify-content: space-between;
    display: flex;
  }
  .left{
    width: 35%;
    flex-direction: column;
    display: flex;
  }
  .name_of_web{
    margin-bottom: 60px;
    p{
      font-size: 30px;
    }
  }
  .contacts{
    flex-direction: column;
    display: flex;
    p{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
  .contact{
    img{
      margin-right: 10px;
    }
    span, a{
      line-height: 24px;
    }
  }
  .right{
    width: 60%;
    background-color: #fff;
    padding: 30px;
  }
  .send_feedback{
    font-size: 18px;
    font-weight: bold;
  }
  .feedback_form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form_block{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  .default_input{
    width: 48%;
  }
  .default_button{
    width: 25%;
    min-width: 15%;
    margin-top: 20px;
  }
}
// ДАШБОРД
// sidebar
.dashboard_sidebar{
  flex-direction: column;
  display: flex;
  .name_of_web{
    margin-bottom: 20px;
  }
  li{
    margin-bottom: 15px;
  }
  a{
    display: flex;
    align-items: center;
  }
  span{
    font-size: 16px;
    font-weight: bold;
  }
  .active{
    color: @blue;
  }
  .fa{
    margin-right: 5px;
    font-size: 25px;
  }
  .fa-shopping-basket{
    font-size: 20px;
  }
}
// navigation nav_pages
.nav_pages{
  align-self: flex-end;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
  span{
    margin-right: 20px;
  }
  .pages{
    display: flex;
    border: 1px solid #E0E0E0;
  }
  .character{
    border-right: 1px solid #E0E0E0;
  }
  .character:last-child{
    border-right: none;
  }
  .active{
    background-color: #fff;
    a{
      color:#000;
    }
  }
}
.dashboard_page{
  flex-direction: column;
  display: flex;
  .name_of_web{
    margin: 20px 0;
    width: 100%;
  }
}
// ГЛАВНАЯ
.dashboard_main{
  width: 100%;
  display: grid;
  grid-template-columns: 15% 55% 25%;
  justify-content: space-between;
  .main_information{
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .today_data{
    display: grid;
    width: 100%;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
  .data_block{
    height: 55px;
    align-items: center;
    display: flex;
    margin-bottom: 6px;
    p{
      font-size: 16px;
      font-weight: bold;
      margin-left: 20px;
    }
  }
  .inf_block{
    width: 100%;
    flex-direction: column;
    display: flex;
    span{
      font-weight: bold;
      margin-bottom: 20px;
    }
    .order_description{
      justify-content: space-between;
      display: flex;
      p{
        position: static;
        font-weight: bold;
      }
    }
    .purchase{
      .all_information{
        justify-content: space-between;
      }
      .main_desc{
        width: 80%;
      }
      .information_block{
        p{
          display: none;
        }
        .name_of_product{
          display: block;
        }
      }
      .delete, .quantity_block, .price_of_product, .summ_block{
        display: none;
      }
      .views{
        text-align: right;
        width: 20%;
        display: block;
      }
    }
  }
  .general_summary{
    width:70%;
    flex-direction: column;
    display: flex;
  }
  .calendar{
    position: relative;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    img{
      position: absolute;
      right: 10px;
    }
  }
  .general_info{
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }
}
// ДОБАВИТЬ ТОВАР
.dashboard_add_goods{
  display: grid;
  grid-template-columns: 15% 80%;
  justify-content: space-between;
  .add_form{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .description_col{
    flex-direction: column;
    display: flex;
  }
  .col_1{
    width: 60%;
  }
  .col_2{
    width: 35%;
  }
  .descr_block{
    width: 100%;
    padding: 30px;
    background-color: @light_grey;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 20px;
    span{
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  textarea{
    margin-top: 15px;
  }
  .half{
    width: 48%;
  }
  .descr_count{
    display: flex;
    width: 48%;
    align-items: center;
    justify-content: flex-start;
    p{
      font-size: 12px;
      color: #878787;
      font-weight: 500;
      margin-right: 10px;
    }
  }
  .quantity_block{
    position: static;
  }
  .operation{
    background-color: #fff;
  }
  .pretty{
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
  .check{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    .pretty{
      width: auto;
      margin-top: 0;
      margin-right: 5px;
    }
    span{
      font-size: 14px;
      font-weight: 400;
    }
  }

  .for_absol_pos{
    align-items: center;
    display: flex;
    width: 48%;
    position: relative;
    input{
      width: 100%;
    }
    p{
      position: absolute;
      right: 10px;
    }
  }
  .attr{
    width: 100%;
    font-weight: bold;
    margin: 20px 0;
  }
  .dropdown{
    span{
      margin: 0;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .default_button{
    margin-top: 20px;
  }
  .col_2{
    .name_of_web{
      p{
        color:#fff;
      }
    }
    .filter{
      .pretty{
        margin-top: 0;
      }
    }
  }
  .upload_block{
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fff;
  }
}
.add_button{
  min-width: 150px;
  width: 150px;
  margin-bottom: 80px;
}
// ТОВАРЫ ДАШБОРД
.dashboard_goods{
  display: grid;
  grid-template-columns:  10% 85%;
  justify-content: space-between;
  .dashboard_goods_block{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid @light_grey;
    flex-direction: column;
    display: flex;
    margin-bottom: 80px;
    .name_of_web{
      justify-content: space-between;
      align-items: center;
      display: flex;
      margin-top: 0;
    }
    .filters{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search{
        width: 30%;
        position: relative;
        align-items: center;
        display: flex;
      }
      .search input{
        height: 40px;
      }
      .dropdown{
        width: 20%;
      }
    }
    .order_description{
      justify-content: space-between;
      display: flex;
      .goods{
        left: 5%;
      }
      .category{
        left: 45%;
      }
      .stocks{
        left: 65%;
      }
      .price{
        left: 95%;
      }
    }
    // goods
    .purchase{
      .pretty{
        display: block;
      }
      .main_desc img{
        margin-right: 15px;
      }
      .information_block{
        p{
          display: none;
        }
        .name_of_product{
          display: block;
        }
      }
      .delete, .quantity_block, .summ_block{
        display: none;
      }
      .category{
        display: block;
        position: absolute;
        left: 45%;
      }
      .stocks{
        display: block;
        position: absolute;
        left: 65%;
      }
      .price_block{
        left: 94%;
      }
    }
  }
}
// ДАШБОРД ЗАКАЗЫ
.dashboard_orders{
  display: grid;
  grid-template-columns:  10% 85%;
  justify-content: space-between;
}
.dashboard_orders_block{
  width: 100%;
  flex-direction: column;
  display: flex;
  .filters_and_action{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filters{
    width: 50%;
    display: flex;
    justify-content: space-between;
    input{
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
    label{
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      padding: 10px;
      border: 1px solid @light_grey;
      display: flex;
      width: auto;
      text-align: center;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      span{
        margin-right: 5px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
    }
    label:hover {
      cursor: pointer;
    }
    input:checked + label {
      background-color: @blue;
      color: #fff;
    }
  }
  .actions_to_orders{
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  .dropdown{
    width: 20%;
    margin-right: 20px;
  }
  .dashboard_orders_table{
    width: 100%;
    flex-direction: column;
  }
  .order_description{
    p{
      position: absolute;
    }
    .order{
      left: 10%;
    }
    .date{
      left: 35%;
    }
    .status{
      left: 60%;
    }
    .amount{
      left: 95%;
    }
  }
  .prof_order{
    align-items: center;
    display: flex;
    position: relative;
    .order_count, .order_number, .order_status{
      display: none;
    }
    .number_and_name{
      width: 25%;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "PT Sans";
      position: absolute;
      left: 10%;
    }
    .order_date{
      position: absolute;
      left: 35%;
    }
    .filter_status{
      position: absolute;
      left: 60%;
      border: none;
      cursor: default;
    }
    .order_summ{
      position: absolute;
      left: 95%;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
// ДАШБОРД ЗАКАЗ
.dashboard_order{
  display: grid;
  grid-template-columns: 15% 55% 25%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}
.dashboard_order_block{
  width: 100%;
  flex-direction: column;
  .name_of_web{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    .filter_status{
      p{
        text-transform: capitalize;
      }
    }
  }
  // block with goods
  .orders_items{
    padding: 20px;
    flex-direction: column;
    display: flex;
    width: 100%;
    border: 2px solid @light_grey;
  }
  .purchase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .all_information{
      justify-content: space-between;
    }
    .count{
      display: flex;
    }
    .sku{
      display: block;
    }
    .delivery{
      display: none;
    }
    .delete, .quantity_block, .price_of_product{
      display: none;
    }
    .summ_block{
      position: static;
      .price_of_product{
        display: block;
      }
    }
    .quantity_and_summ{
      position: static;
      display: flex;
    }
  }
  .payed{
    width: 100%;
    margin-top: 20px;
    background-color: @light_grey;
    padding: 20px;
  }
  .total{
    width: 100%;
    margin: 0;
    .additional{
      color: #999999;
    }
    .count{
      text-align: right;
    }
    .row{
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
  .default_button{
    margin-top: 20px;
    width: 150px;
    min-width: 150px;
  }
}
// client info
.client_information{
  background-color: @light_grey;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  display: flex;
  .client_main{
    display: flex;
    flex-direction: column;
  }
  a{
    color: @blue;
    margin-bottom: 2px;
  }
  span{
    margin-bottom: 2px;
  }
  .subtitle{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .address{
    margin-top: 10px;
  }
}
