// "out": "../css/style.css", "sourceMap": false, "compress": false, "autoprefixer": false
// MAIN STYLES OF WEBSITE
* {
  box-sizing: border-box;
}
// colors
@grey: #878787;
@blue: #05B1E9;

body,
main {
  width: 100%;
  font-family: "Jost", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 7;
}

.container {
  width: 80%;
}
a,
a:focus,
a:hover {
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
// input
.default_input {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
}
.default_input::placeholder {
  font-size: 12px;
}
// form
.reg_form, .default_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  .input_block{
    flex-direction: column;
    display: flex;
  }
  // label, input, button style
  label {
    font-size: 14px;
    margin-bottom: 10px;
    color: #8C8C8C;
  }
  input {
    margin-bottom: 10px;
  }
}
// enter through soc
.socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .go_through_soc {
    display: flex;
  }
  a {
    margin-right: 20px;
  }
  .fa {
    font-size: 35px;
  }
}
// buttons
.action_button {
  min-width: 200px;
  background-color: #000000;
  padding: 12px 0;
  display: inline-block;
  box-sizing: border-box;
  p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
  }
}
// button without bachkground
.inherit_button {
  background-color: inherit;
  border: 2px solid #000;
  p {
    color: #000;
  }
}
// nonactive button - inherit
.nonactive_button {
  background-color: inherit;
  p {
    font-weight: bold;
    color: #999999;
  }
}
// active button - active (grey)
.active_button {
  background-color: #F2F3F5;
  p {
    font-weight: bold;
    color: #000;
  }
}
// button for videoplayer
.open_video {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 14.5px rgba(0,0,0,0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.3s ease;
  .fa {
    color: @blue;
  }
}
.open_video:hover {
  transform: scale(1.1);
}
// name of web page
.name_of_web {
  width: 50%;
  p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
//search form
.search {
  width: 40%;
  position: relative;
  form {
    width: 100%;
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 5px 10px;
  }
  input::placeholder {
    font-size: 12px;
  }
  .desktop_btn {
    cursor: pointer;
    background-color: inherit;
    position: absolute;
    right: 7px;
  }
  .action_button {
    display: none;
    min-width: 30%;
    height: 30px;
    p {
      font-size: 10px;
    }
  }
}
// dropdown STYLE
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #E6E6E6;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 12px;
  color: #000;
  height: 40px;
  line-height: 35px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #E6E6E6;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #E6E6E6;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #F2F3F5;
}

.custom-option.selected {
  color: #000;
  background-color: #F2F3F5;
}
// dropdown arrow
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: #000;
}

.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background-color: #000;
}

.open .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
}
// range slider
.polzunok-container {
  position: relative;

  .high,
  .low {
    position: absolute;
    bottom: -34px;
    font-size: 12px;
    font-weight: 500;
  }
  .low {
    left: 0;
  }
  .high {
    right: 0;
  }
}
// up block order
.order_description{
  margin-top: 30px;
  display: flex;
  width: 100%;
  position: relative;
  p{
    color: #BCBCBC;
    position: absolute;
  }
  .price{
    left: 50%;
  }
  .quantity{
    left: 70%;
  }
  .amount{
    left: 90%;
  }
}
// total amount
.total{
  margin-right: 5%;
  align-self: flex-end;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  p{
    font-size: 18px;
    font-weight: bold;
  }
  .actions{
    display: flex;
    justify-content: space-between;
  }
  button{
    p{
      font-size: 14px;
      font-weight: normal;
    }
  }
  .favorites{
    width: 50%;
  }
  .order{
    width: 40%;
  }
}
// card
.card{
  height: 44px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    margin-right: 15px;
  }
}
.yandex{
  img{
    width: 20px;
  }
}
// offer
.offer{
  width: 50%;
  p{
    font-size: 12px;
  }
  a{
    border-bottom: 1px solid #000;
  }
}
// like icon
.add_to_fav{
  .fa{
    font-size: 30px;
    color: @blue;
  }
}
// slider range
.polzunok-container:after {
  content: "";
  clear: both;
  display: table;
}

.ui-widget.ui-widget-content {
  border: none !important;
}
// range - разница
.polzunok-container .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 3px;
  border: 0;
  background-color: #05B1EA;
}
// полоска ползунка
.polzunok-container .ui-slider {
  position: relative;
  background: #E6E6E6;
  height: 2px;
}
// inputs
.polzunok-container .ui-slider .ui-slider-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: #FFF;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}

.polzunok-container .ui-slider .ui-slider-handle:focus,
.polzunok-container .ui-slider .ui-slider-handle:hover {
  transform: scale(1.1);
}

.polzunok-input-5-left,
.polzunok-input-5-right {
  width: 40px;
  background: none;
  position: absolute;
  left: -5px;
  margin-top: 10px;
}
// input text
.ui-widget input {
  font-size: 12px !important;
  font-family: "Jost" !important;
}
// grey line
.grey_line {
  width: 100%;
  height: 2px;
  background-color: #E6E6E6;
  margin: 25px 0;
}
//navigation
.navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .nav {
    display: flex;
    a {
      color: #BCBCBC;
    }
  }
}
// grid products
.products {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: repeat(4, 24%);
  grid-row-gap: 30px;
}
// help container
.question {
  width: 100%;
  background-image: url("../img/content/question-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .help {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-top: 60px;
    margin-bottom: 20px;
    p {
      text-transform: uppercase;
    }
  }
  .connection {
    width: 44%;
    text-align: center;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  a {
    color: red;
  }
  form {
    align-self: center;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    input {
      width: 70%;
    }
    button {
      height: 40px;
      padding: 0;
      width: 30%;
      min-width: inherit;
    }
  }
}
// title style
.title {
  text-align: center;
  margin: 40px 0;
  p {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
// news style - main screen
.news {
  display: flex;
  flex-direction: column;
  background-color: #F2F3F5;
  cursor: pointer;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 250px;
  }
  p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
  }
}
// all about shopping block
// the general text
.name_of_product{
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}
.brand_of_product{
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  font-family: "PT Sans";
  font-weight: 700;
}
.price_of_product{
  font-size: 20px;
  font-weight: bold;
}
// product style
.product {
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  .go_to_product {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .fa {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: @blue;
  }
  img {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
  }
  span {
    margin-top: 5px;
  }
  .description {
    font-size: 12px;
  }
}
// purchase STYLE
.purchase{
  display: flex;
  width: 100%;
  flex-direction: column;
  .all_information{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
  }
  // desc with photo
  .main_desc{
    align-items: center;
    display: flex;
    img{
      width: 100px;
      object-fit: cover;
      margin-right: 40px;
    }
    .information_block{
      display: flex;
      flex-direction: column;
    }
    .quantity_final{
      display: none;
    }
    .quantity_and_summ{
      display: none;
    }
    .name_of_product{
      margin: 5px 0 10px 0;
    }
    .size_of_product, .delivery{
      font-size: 12px;
    }
  }
  // price
  .price_block{
    position: absolute;
    left: 50%;
  }
  //quantity_block
  .quantity_block{
    display: flex;
    position: absolute;
    left: 70%;
    input{
      width: 50px;
      height: 50px;
      padding: 0;
      text-align: center;
    }
    .operations{
      display: flex;
      flex-direction: column;
      height: 50px;
      width: 25px;
    }
    .operation{
      height: 25px;
      width: 100%;
      border: 1px solid #e6e6e6;
      border-left: none;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 16px;
    }
    .plus{
      border-bottom: none;
    }
  }
  // summ block_u
  .summ_block{
    position: absolute;
    left: 90%;
    display: flex;
    span{
      font-size: 20px;
      font-weight: bold;
    }
  }
  .delete{
    position: absolute;
    left: 98%;
    .fa{
      font-size: 25px;
    }
  }
}
// filter STYLE
.filter {
  display: flex;
  width: 100%;
  flex-direction: column;
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 20px;
  }
  .subcategory {
    margin-top: 20px;
    margin-left: 20px;
  }
}
// Burger

.mobile_menu {
  cursor: pointer;
  width: 25px;
  display: none;
  flex-direction: column;
  .burg {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 4px;
    box-sizing: border-box;
  }
  .burg:last-child {
    margin-bottom: 0;
  }
}
// mobile menu
.mobile {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 250;
  transition: all 0.35s;
  .close_mob_menu {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
  }
  .wrap {
    box-sizing: border-box;
    padding-top: 50px;
    width: 250px;
    height: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: flex-start;
    float: left;
  }
  .links {
    display: flex;
    flex-direction: column;
    a {
      line-height: 7px;
      color: #000000;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
// active
.active {
  left: 0;
}
// blur around
.blur {
  filter: blur(4px);
}
footer,
header {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
// HEADER
header {
  z-index: 15;
}
.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  // LEFT
  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    .down,
    .up {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .logo {
    width: 20%;
    display: flex;
    img {
      width: 100%;
    }
  }
  // for him/ for her
  .choice {
    width: 25%;
    display: flex;
    justify-content: space-between;
    p {
      cursor: pointer;
      text-transform: uppercase;
      line-height: 10px;
      color: #000000;
      font-weight: bold;
    }
  }
  // search icon mobile
  .search_btn {
    .fa-search:before {
      color: #606262;
    }
  }
  .search_mobile {
    display: none;
  }
  // links
  .links {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      line-height: 7px;
      color: #000000;
      font-size: 16px;
    }
  }
  // RIGHT
  .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    .down,
    .up {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .information {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 12px;
        line-height: 7px;
        color: #878787;
        font-weight: 500;
      }
    }
    .down {
      justify-content: flex-end;
    }
    .personal_area {
      margin-top: 25px;
      display: flex;
      width: 28%;
      justify-content: space-between;
    }
    .basket {
      position: relative;
    }
    .counter {
      position: absolute;
      bottom: -5px;
      right: -2px;
      width: 15px;
      height: 15px;
      border-radius: 8px;
      background-color: #00b1ea;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 11px;
        line-height: 21px;
        color: #ffffff;
        font-family: "Montserrat";
        font-weight: 500;
      }
    }
  }
}
.headerMargin {
  z-index: 2;
  width: 100%;
}
// FOOTER
footer {
  z-index: 5;
  position: static;
  background-color: #f2f3f5;
  flex-direction: column;
}

.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .inf {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
  .subtitle {
    font-weight: 500;
    margin-bottom: 20px;
  }
  ul {
    a {
      font-size: 12px;
      line-height: 24px;
      color: #545454;
    }
  }
  .links {
    display: flex;
    margin-top: 20px;
    .fa {
      font-size: 25px;
    }
    .insta_link {
      margin-right: 20px;
    }
  }
  .photo {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
}
// Footer agreement
.agreement {
  width: 100%;
  background-color: #ECEDF0;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  a,
  p {
    font-size: 11px;
    color: #878787;
    font-weight: bold;
  }
  a {
    border-bottom: 1px solid #878787;
  }
}
// ГЛАВНАЯ
// ПЕРВЫЙ БЛОК - СЛАЙДЕР

.slider {
  display: block;
  width: 100%;
  // main SETTINGS
  .slick-dots {
    transform: rotate(90deg);
    width: auto;
    right: 20%;
    bottom: 50%;
  }
  .slick-dots li button:before {
    font-size: 8px;
  }
  .slick-dots .slick-active button:before {
    font-size: 10px;
  }
  .slide {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img_slide {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: contain;
      z-index: 2;
    }
    .slide_info {
      position: absolute;
      z-index: 3;
    }
    .info_wrap {
      width: 25%;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .slide_number {
      z-index: -1;
      position: absolute;
      top: -20%;
      left: -25%;
      font-size: 127px;
      color: #F4F6F7;
      font-family: "Montserrat";
      font-weight: 500;
    }
    .name {
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .from {
      font-size: 16px;
    }
    .video {
      margin: 30px 0;
      width: 100%;
      position: relative;
      display: flex;
      background-color: #fff;
      align-items: center;
      justify-content: flex-start;
      a {
        box-shadow: 0 0 4px rgba(0,0,0,0.21);
        position: absolute;
        top: 30%;
        left: 25%;
        height: 30px;
        width: 30px;
        .fa {
          font-size: 10px;
        }
      }
      .video_img {
        display: block;
        img {
          display: block;
          width: 100%;
          object-fit: contain;
        }
      }
      .video_text {
        width: 60%;
        display: flex;
        align-items: center;
        p {
          width: 50%;
          font-size: 14px;
          font-weight: bold;
          padding-left: 30px;
        }
      }
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    button {
      min-width: 45%;
    }
  }
}
// ВТОРОЙ БЛОК - ИНФОРМАЦИЯ
.second {
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  //align-items: center;
  .shop_info {
    z-index: 3;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  p {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
  }
  span {
    width: 100%;
    margin-top: 20px;
  }
  .video {
    width: 50%;
    position: relative;
    .shop_info_mob {
      display: none;
    }
  }
  .macbook {
    z-index: 4;
    width: 100%;
  }
  .logo {
    width: 80%;
    position: absolute;
    top: -15%;
    left: 5%;
    z-index: -1;
  }
  .arrow_1 {
    transform: rotate(80deg);
    position: absolute;
    top: -10%;
    left: -20%;
  }
  .arrow_2 {
    position: absolute;
    top: 55%;
    left: -25%;
  }
  .open_video {
    height: 80px;
    width: 80px;
    left: 0;
    top: 35%;
  }
  .fa {
    font-size: 24px;
  }
}
// ТРЕТИЙ БЛОК - НОВИНКИ
// ПЯТЫЙ БЛОК - ВЫБОР Shopogasm
// CЕДЬМОЙ БЛОК - ПОПУЛЯРНЫЕ ТОВАРЫ
// СТРАНИЦА КАТЕГОРИЙ - РЕКОМЕНДАЦИИ

.prod_general_style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  .action_button {
    margin-top: 40px;
  }
}
// ЧЕТВËРТЫ БЛОК - НОВОСТИ
.fourth {
  width: 100%;
  background-image: url("../img/content/news-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  .container {
    display: flex;
    flex-direction: column;
    .title {
      margin-top: 70px;
    }
    .trends {
      display: grid;
      justify-content: space-between;
      align-items: stretch;
      grid-template-columns: repeat(3, 32%);
      grid-row-gap: 30px;
    }
  }
}
// ШЕСТОЙ - БАННЕРЫ
.six {
  display: grid;
  grid-template-areas: "up big_banner big_banner" "down big_banner big_banner";
  grid-template-columns: repeat(3, 32%, 30%, 30%);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 80px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  a {
    display: flex;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }
    p {
      font-size: 24px;
      font-weight: 800;
      font-style: italic;
      padding: 10px;
    }
  }
  .text {
    position: absolute;
    z-index: 4;
  }
  //text inside imag
  .down_banner,
  .up_banner {
    // up text
    .block_up {
      width: 100px;
      height: 30px;
      background-color: #fff;
      top: 32%;
      right: 12%;
    }
    .text_up {
      top: 30%;
      right: 9%;
    }
    // down text
    .block_down {
      width: 100px;
      height: 30px;
      background-color: #DEF9FF;
      top: 44%;
      right: 14%;
    }
    .text_down {
      top: 42%;
      right: 11%;
    }
  }
  // up banner settings
  .up_banner {
    grid-area: up;
  }
  // down banner settings
  .down_banner {
    grid-area: down;
    .block_down {
      background-color: #FFE8E8;
    }
    .text_down {
      top: 42%;
      right: 14%;
    }
  }
  // big banner settings
  .big_banner {
    grid-area: big_banner;
    // up text
    .block_up {
      width: 150px;
      height: 30px;
      background-color: #fff;
      top: 64%;
      right: 16%;
    }
    .text_up {
      top: 63%;
      right: 16%;
    }
    // down text
    .block_down {
      width: 80px;
      height: 30px;
      background-color: #FFEFE7;
      top: 70%;
      right: 29%;
    }
    .text_down {
      top: 69%;
      right: 29%;
    }
  }
}
// СТРАНИЦА КАТАЛОГА
.catalog_page {
  display: flex;
  flex-direction: column;
}
.name_and_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  .dropdown {
    width: 20%;
  }
}
.catalog_and_filters {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  grid-template-columns: 24% 75%;
  // filters
  .filters {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    width: 100%;
    // margin first filter
    .category {
      p {
        margin-top: 20px;
      }
    }
    .filter_actions {
      display: none;
    }
    .search {
      width: 100%;
    }
    .ui-slider-handle {
      display: block;
    }
  }
  // catalog
  .catalog {
    display: grid;
    justify-content: space-between;
    align-items: stretch;
    grid-template-columns: repeat(3, 32%);
    grid-row-gap: 30px;
    margin-bottom: 70px;
  }
}
.show_more {
  display: none;
}
.recomendations_and_viewed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .actions {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .action_button {
    min-width: auto;
    padding: 12px 15px;
  }
  .products {
    margin-bottom: 80px;
    display: none;
  }
  .item_active{
    display: flex;
  }
}
// СТРАНИЦЫ РЕГИСТРАЦИЙ
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 100px 0;
  span {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  // with help
  .create_acc,
  .forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    p {
      font-size: 14px;
    }
    a {
      font-size: 12px;
      color: #06B1EB;
    }
  }
  .action_button {
    margin-top: 20px;
    width: 50%;
    align-self: center;
    p {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}
// КОРЗИНА
.shopping_basket{
  display: flex;
  flex-direction: column;
  position: relative;
  .all_shoppings{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  // purchases
  .purchases{
    width: 100%;
    display: flex;
    flex-direction: column;
    .quantity_final{
      display: none;
    }
    .quantity_and_summ{
      display: none;
    }
  }
}
// Оформление заказа
.checkout{
  display: flex;
  flex-direction: column;
}
.order_registration{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}
// steps
.step{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 30px;
  .grey_line{
    margin-bottom: 10px;
    height: 4px;
    position: relative
  }
  .round{
    z-index: 3;
    left: 95%;
    top: -5px;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #e6e6e6;
  }
  p{
    font-size: 14px;
    font-weight: bold;
  }
}
// left container of reg
.left_reg{
  width: 50%;
  display: flex;
  flex-direction: column;
  .steps{
    display: flex;
    width: 100%;
  }
  .steps_mob{
    display: none;
  }
  .delivery_step{
    .grey_line{
      background-color: #05B1EA;
    }
  }
  .checkout_form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form_block{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    input{
      margin-bottom: 10px;
    }
    .half{
      width: 49%;
    }
  }
}
// right container of reg
.right_reg{
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
  .order_description{
    .quantity{
      left: 65%;
    }
    .price{
      left: 90%;
    }
  }
  .orders{
    width: 100%;
    display: flex;
    flex-direction: column;
    .purchase{
      .main_desc{
        width: 65%;
        img{
          width: 80px;
          margin-right: 10px;
        }
        .information_block{
          width: 80%;
          p{
            width: 100%;
            display: inline-block;
          }
        }
      }
      .price_block{
        display: none;
      }
      .delete{
        display: none;
      }
      .quantity_block{
        display: none;
      }
      .quantity_final{
        display: block;
        position: absolute;
        left: 70%;
        p{
          font-weight: bold;
        }
      }
      .quantity_and_summ{
        display: none;
      }
      .summ_block{
        left: 86%;
      }
    }
  }
  .total{
    width: 100%;
    position: static;
    margin-right: 0;
  }
}
// checkout -> payment
.payment{
  .payment_step{
    .grey_line{
      background-color: #05B1EA;
    }
  }
  .cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .card{
      width: 49%;
    }
  }
}
// checkout -> confirmation
.confirmation{
  // steps
  .step{
    .grey_line{
      background-color: #05B1EA;
    }
  }
  // steps
  .steps_mob{
    display: none;
  }
  // name
  .name_mob{
    display: none;
  }
  .num_mob{
    display: none;
  }
  .offer_mob{
    display: none;
  }
  .act_mob{
    display: none;
  }
  // order
  .number_of_order{
    width: 100%;
    margin-bottom: 10px;
    p{
      font-size: 18px;
    }
  }
  .form_subtitle{
    margin: 20px 0;
  }
}
// СТРАНИУА ТОВАРА
.goods{
  .main_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .sliders{
    width: 50%;
    display: flex;
  }
  .goods_slider{
    width: 80%;
    .goods_img{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    img{
      width: 100%;
      object-fit: cover;
    }
    // arrows
    .fa-angle-right, .fa-angle-left{
      position: absolute;
      font-size: 35px;
      z-index: 10;
      top: 45%;
    }
    .fa-angle-right{
      right: 2%;
    }
    .fa-angle-left{
      left: 2%;
    }
  }
  .mini_slider{
    margin-bottom: -15px;
    .goods_img{
      width: 100px;
      margin-right: 10px;
      padding-bottom: 15px;
    }
    img{
      width: 82px;
      height: 82px;
      object-fit: cover;
    }
  }
  // information
  .information{
    display: flex;
    flex-direction: column;
    width: 45%;
    p, span{
      margin-bottom: 15px;
    }
    .name_of_product{
      font-size: 24px;
    }
    .brand_of_product{
      font-size: 16px;
    }
    .price_and_fav{
      width: 50%;
      margin-bottom: 20px;
      a{
        display: none;
      }
    }
    .dropdown{
      width: 50%;
      span{
        margin-bottom: 0;
      }
    }
    .size_table{
      margin-top: 20px;
      a{
        color: #00b1ea;
        border-bottom: 1px solid #00b1ea;
      }
    }
    .to_basket{
      margin-top: 20px;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .action_button{
      p{
        margin: 0;
      }
    }
  }
  .mob_inf{
    display: none;
  }
}
.goods_presentation{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../img/content/goods_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .video_pres{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 60px;
  }
  .video_player{
    width: 50%;
    position: relative;
    img{
      width: 100%;
      object-fit: cover;
    }
    .open_video{
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      height: 70px;
      width: 70px;
      top: 35%;
      .fa{
        font-size: 24px;
      }
    }
  }
}
.goods_description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
  .descr_text{
    width: 45%;
    display: flex;
    flex-direction: column;
    .name_of_product{
      font-size: 24px;
    }
    .subtitle{
      font-size: 16px;
      font-weight: bold;
    }
    p{
      margin-bottom: 20px;
    }
    span{
      margin-bottom: 35px;
    }
  }
  .descr_img{
    width: 45%;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
}
// ПРОФИЛЬ
// data
.profile{
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
  .sidebar_nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    .title{
      margin-bottom: 30px;
      text-align: left;
    }
  }
  // nav
  .profile_navigation{
    li{
      margin-bottom: 10px;
    }
    a{
      position:  relative;
      font-size: 20px;
    }
  }
  .profile_content{
    width: 50%;
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    .title{
      text-align: left;
      p{
        text-transform: none;
        font-size: 26px;
      }
    }
  }
  // current link style
  .currentLink {
   border-bottom: 1px solid #000;
  }
  // question_link
  .number_of_questions{
    position: absolute;
    top: 2px;
    right: -15px;
    width: 15px;
    height: 15px;
    background-color: #CDF89C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 12px;
    }
  }
  // data
  .profile_form{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .input_block{
    width: 47%;
  }
  .socials{
    .title{
      margin-bottom: 10px;
    }
  }
  .additional_inf{
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
  }
  .additional_inf_block{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 30px;
    span{
      font-size:20px;
    }
    // sex of user
    .sex{
      padding: 6px 10px;
      width: 100%;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .active{
      border-bottom: 1px solid #000;
    }
    // change_password
    .change_password{
      .action_button{
        min-width: 100%;
      }
    }
  }
  .save_changes{
    max-width: 150px;
    min-width: 150px;
  }
}
